<template>
  <div class="navbar">
    <b-navbar toggleable="lg" type="dark" variant="info" fixed="top">
      <b-navbar-nav>
        <router-link to="/" class="hed">PSYCHO</router-link>
      </b-navbar-nav>
      <b-navbar-nav class="ml-auto">
        <b-nav-item class="icon"><router-link to="/" class="icon" ><b-icon icon="search" ></b-icon></router-link></b-nav-item>
        <b-nav-item class="icon"><router-link to="/" class="icon" ><b-icon icon="person-circle" ></b-icon></router-link></b-nav-item>
      </b-navbar-nav>
    </b-navbar>
  </div>
</template>
<style>
.container-fluid .co2 {
  padding: 0px 0px;
}
div .navbar {
  width: 100%;
  height: 100px;
  background-color: #000000;
  background-image: linear-gradient(315deg, #161616, #3f4141);
}
.hed {
  font-weight: bolder;
  color: #fff;
  letter-spacing: 2px;
  font-size: 30px;
}
.hed:hover{
  text-decoration: none;
}
.icon {
  color: #fff;
  margin-right: 10px;
}
</style>
