<template>
  <b-container fluid>
    <b-row>
      <b-col><Header></Header></b-col>
    </b-row>
    <b-row>
      <b-col class="col-menu"><Menu></Menu></b-col>
      <b-col class="col-10"><router-view></router-view></b-col>
    </b-row>
  </b-container>
</template>
<style>

</style>

<script>
import Header from './Header.vue'
import Menu from './Menu.vue'
export default {
  components: {
    Header,
    Menu
  }
}
</script>
<style>
div .col-menu {
  width: 100%;
  padding: 0px 0px;
  background-color: #161a1d;
  height: 150vh;
}
</style>