<template>
  <div>
    <b-nav vertical class="sidebar">
      <b-nav-item
        ><router-link class="sidemenu" to="/"
          ><b-icon icon="house-fill" class="icon"></b-icon>HOME</router-link
        ></b-nav-item
      >
      <b-nav-item
        ><router-link class="sidemenu" to="/searchjob"
          ><b-icon icon="search" class="icon"></b-icon>SEARCHJOB</router-link
        ></b-nav-item
      >
      <b-nav-item
        ><router-link class="sidemenu" to="/profile"
          ><b-icon icon="person-fill" class="icon"></b-icon>PROFILE</router-link
        ></b-nav-item
      >
      <b-nav-item
        ><router-link class="sidemenu" to="/resume"
          ><b-icon icon="file-text" class="icon"></b-icon>RESUME</router-link
        ></b-nav-item
      >
      <b-nav-item
        ><router-link class="sidemenu" to="/appliedjob"
          ><b-icon icon="card-text" class="icon"></b-icon>APPLIED
          JOB</router-link
        ></b-nav-item
      >
      <b-nav-item
        ><router-link class="sidemenu" to="/wishlist"
          ><b-icon icon="cart3" class="icon"></b-icon>WISHLIST</router-link
        ></b-nav-item
      >
      ----COMPANY----
      <b-nav-item
        ><router-link class="sidemenu" to="/companyprofile"
          ><b-icon icon="person-fill" class="icon"></b-icon>COMPANY
          PROFILE</router-link
        ></b-nav-item
      >
      <b-nav-item
        ><router-link class="sidemenu" to="/jobpost"
          ><b-icon icon="card-list" class="icon"></b-icon>JOB POST</router-link
        ></b-nav-item
      >
      ----ADMIN----
      <b-nav-item
        ><router-link class="sidemenu" to="/jobdetail"
          >JOB DETAIL</router-link
        ></b-nav-item
      >
      <b-nav-item
        ><router-link class="sidemenu" to="/company"
          >COMPANY</router-link
        ></b-nav-item
      >
      <b-nav-item
        ><router-link class="sidemenu" to="/position"
          >POSITION</router-link
        ></b-nav-item
      >
      <b-nav-item
        ><router-link class="sidemenu" to="/login"
          >LOGIN</router-link
        ></b-nav-item
      >
      <b-nav-item
        ><router-link class="sidemenu" to="/user">USER</router-link></b-nav-item
      >
    </b-nav>
  </div>
</template>
<style>
.sidebar a {
  color: #ffffff;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 1.5px;
  line-height: 3.5;
}

.icon {
  width: 30px;
}

.sidebar .sidemenu:hover {
  text-decoration: none;
}
</style>
