<template>
  <div>
    <b-modal id="my-modal-detailst" hide-footer>
      <template #modal-title> Detail </template>
      <div class="d-block text-center">
        {{detail}}
      </div>
      <b-button class="mt-3" block @click="$bvModal.hide('my-modal-detailst')"
        >Close</b-button
      >
    </b-modal>

    <div
      style="margin-top:20px; width:1300px ; margin-left:auto; margin-right:auto"
    >
      <b-card-group deck>
        <b-card
          header-tag="header"
          header-bg-variant="dark"
          header-text-variant="white"
        >
          <template #header>
            <h2 class="mb-0">Applied Job</h2>
          </template>
          <b-table striped hover :items="applicant" :fields="fields">
            <template v-slot:cell(detailstatus)="data">
              <b-button @click="showDetailStatus(data.item)" variant="primary">
                <b-icon icon="tv" class="icon"></b-icon>DETAIL</b-button
              >
            </template>
            <template v-slot:cell(operation)="data">
              <b-button @click="showDetail(data.item)">
                <b-icon icon="tv" class="icon"></b-icon>DETAIL</b-button
              >
              &nbsp;
              <b-button variant="danger" @click="deleteapplicant(data.item)"
                ><b-icon icon="trash" class="icon"></b-icon>CANCEL</b-button
              >
            </template>
          </b-table>
        </b-card>
      </b-card-group>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      userlogin: {},
      applicant: [],
      detail:"",
      fields: [
        "company_name",
        "jobType",
        "position",
        "status",
        "detailStatus",
        "operation"
      ]
    };
  },
  methods: {
    showDetailStatus(data) {
      this.detail = data.detail
      this.$bvModal.show("my-modal-detailst");
    },
    getapplicant() {
      axios
        .get("http://localhost:3000/applicant/" + this.userlogin._id)
        .then(res => {
          console.log(res);
          this.applicant = res.data;
        })
        .catch(err => {
          console.log(err);
        });
    },
    getuser() {
      var id = "605195bd7f305705ecaafd56";
      axios
        .get("http://localhost:3000/user/" + id)
        .then(res => {
          this.userlogin = res.data;
          console.log("userlogin");
          console.log(this.userlogin);
          this.getapplicant();
        })
        .catch(err => {
          console.log(err);
        });
    },
    deleteapplicant(data) {
      console.log(data);
      axios
        .delete("http://localhost:3000/applicant/" + data._id)
        .then(res => {
          this.getuser();
        })
        .catch(err => {
          console.log(err);
        });
    },
    showDetail(data) {
      console.log(data);
      this.$router.push({
        name: "jobdetail",
        params: { postId: data.id_jobpost, userid: this.userlogin._id }
      });
    }
  },
  mounted() {
    console.log("Vue component is mounted.");
    this.getuser();
  }
};
</script>
