<template>
  <div>
    <b-modal
      id="modal-form-recruitapplicant"
      ref="modal"
      title="Submit Your Name"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group label="Status" label-for="status">
         <b-form-select
            id="status"
            v-model="form.status"
            :options="statusOption"
          ></b-form-select>
        </b-form-group>
        <b-form-group
          label="Detail"
          label-for="detail"
          invalid-feedback="โปรดใส่รายละเอียดในการนัดสัมภาษณ์งาน"
          :state="detailstate"
        >
          <b-form-input
            id="detail"
            v-model="form.detail"
            :state="detailstate"
            required
          ></b-form-input>
        </b-form-group>
      </form>
    </b-modal>

    <b-modal id="modal-form-resume" size="xl" hide-footer title="Resume">
      <b-jumbotron class="color" style="background-color:rgb(211, 242, 210)">
        <div class="row">
          <div class="col-3" style="border: 1px solid"></div>
          <div class="col-6" style="padding-left:100px">
            <b-td>
              ชื่อ-นามสกุล: <br />
              วันเดินปีเกิด: <br />
              เพศ: <br />
              สัญชาติ: <br />
              ศาสนา: <br />
              ที่อยู่: <br />
              ตำบล: <br />
              อำเภอ: <br />
              จังหวัด: <br />
              รหัสไปรษณีย์: <br />
            </b-td>

            <b-td style="padding: 25px">
              {{ profileTemp.first_name }}
              {{ profileTemp.last_name }}<br />
              {{ profileTemp.birth_date }}<br />
              {{ profileTemp.sex }}<br />
              {{ profileTemp.nationality }}<br />
              {{ profileTemp.religion }}<br />
              {{ profileTemp.address }} <br />
              {{ profileTemp.subdistrict }} <br />
              {{ profileTemp.district }} <br />
              {{ profileTemp.province }} <br />
              {{ profileTemp.postalnumber }}<br />
            </b-td>
          </div>
          <div class="col-3">
            <b-td style="padding: 25px">
              email: {{ userTemp.email }}<br />
              tel: {{ userTemp.tel }}<br />
            </b-td>
          </div>
        </div>
      </b-jumbotron>
      <div class="row">
        <div style="padding-left:100px" class="col-6">
          <div v-if="this.resumeTemp.schoolName1 != ''">
            <b-td>
              ระดับการศึกษา: <br />
              ชื่อสถานศึกษา:<br />
              คณะ: <br />
              สาขา: <br />
              วุฒิการศึกษา: <br />
              ปีที่สำเร็จการศึกษา: <br />
              เกรดเฉลี่ย: <br />
            </b-td>
            <b-td style="padding: 25px">
              {{ resumeTemp.education1 }} <br />
              {{ resumeTemp.schoolName1 }}<br />
              {{ resumeTemp.faculty1 }}<br />
              {{ resumeTemp.major1 }}<br />
              {{ resumeTemp.degree1 }}<br />
              {{ resumeTemp.gradYear1 }}<br />
              {{ resumeTemp.GPA1 }} <br />
            </b-td>
          </div>
        </div>
        <div style="padding-left:100px" class="col-6">
          <div v-if="this.resumeTemp.schoolName2 != ''">
            <b-td>
              ระดับการศึกษา: <br />
              ชื่อสถานศึกษา:<br />
              คณะ: <br />
              สาขา: <br />
              วุฒิการศึกษา: <br />
              ปีที่สำเร็จการศึกษา: <br />
              เกรดเฉลี่ย: <br />
            </b-td>
            <b-td style="padding: 25px">
              {{ resumeTemp.education2 }} <br />
              {{ resumeTemp.schoolName2 }}<br />
              {{ resumeTemp.faculty2 }}<br />
              {{ resumeTemp.major2 }}<br />
              {{ resumeTemp.degree2 }}<br />
              {{ resumeTemp.gradYear2 }}<br />
              {{ resumeTemp.GPA2 }} <br />
            </b-td>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-6" style="padding-left:100px">
          <div v-if="this.resumeTemp.company1 != ''">
            <b-row>
              <b-col cols="3">บริษัท:</b-col>
              <b-col cols="9">{{ resumeTemp.company1 }}</b-col>
            </b-row>
            <b-row>
              <b-col cols="3">ที่อยู่-ติดต่อ:</b-col>
              <b-col cols="9">{{ resumeTemp.compAddress1 }}</b-col>
            </b-row>
            <b-row>
              <b-col cols="3">ตำแหน่ง:</b-col>
              <b-col cols="9">{{ resumeTemp.position1 }}</b-col>
            </b-row>
            <b-row>
              <b-col cols="3">เงินเดือน:</b-col>
              <b-col cols="9">{{ resumeTemp.salary1 }}</b-col>
            </b-row>
            <b-row>
              <b-col cols="3">ประเภทงานเพื่อการค้นหา:</b-col>
              <b-col cols="9">{{ resumeTemp.jobType1 }}</b-col>
            </b-row>
            <b-row>
              <b-col cols="3">หน้าที่และผลงาน:</b-col>
              <b-col cols="9">{{ resumeTemp.jobDuty1 }}</b-col>
            </b-row>
          </div>
        </div>
        <div class="col-6" style="padding-left:100px">
          <div v-if="this.resumeTemp.company2 != ''">
            <b-row>
              <b-col cols="3">บริษัท:</b-col>
              <b-col cols="9">{{ resumeTemp.company2 }}</b-col>
            </b-row>
            <b-row>
              <b-col cols="3">ที่อยู่-ติดต่อ:</b-col>
              <b-col cols="9">{{ resumeTemp.compAddress2 }}</b-col>
            </b-row>
            <b-row>
              <b-col cols="3">ตำแหน่ง:</b-col>
              <b-col cols="9">{{ resumeTemp.position2 }}</b-col>
            </b-row>
            <b-row>
              <b-col cols="3">เงินเดือน:</b-col>
              <b-col cols="9">{{ resumeTemp.salary2 }}</b-col>
            </b-row>
            <b-row>
              <b-col cols="3">ประเภทงานเพื่อการค้นหา:</b-col>
              <b-col cols="9">{{ resumeTemp.jobType2 }}</b-col>
            </b-row>
            <b-row>
              <b-col cols="3">หน้าที่และผลงาน:</b-col>
              <b-col cols="9">{{ resumeTemp.jobDuty2 }}</b-col>
            </b-row>
          </div>
        </div>
        <div class="row">
          <div class="col-6" style="padding-left:100px">
            <div v-if="this.resumeTemp.course1 != ''">
              <hr />
              <b-td>
                สถาบัน/หน่วยงาน/บริษัท: <br />
                หลักสูตร:<br />
                ประกาศนียบัตร/วุฒิบัตร(ถ้ามี): <br />
              </b-td>
              <b-td style="padding: 25px">
                {{ resumeTemp.IOC1 }} <br />
                {{ resumeTemp.course1 }}<br />
                {{ resumeTemp.certify1 }}<br />
              </b-td>
            </div>
          </div>
          <div class="col-6" style="padding-left:100px">
            <div v-if="this.resumeTemp.course2 != ''">
              <hr />
              <b-td>
                สถาบัน/หน่วยงาน/บริษัท: <br />
                หลักสูตร:<br />
                ประกาศนียบัตร/วุฒิบัตร(ถ้ามี): <br />
              </b-td>
              <b-td style="padding: 25px">
                {{ resumeTemp.IOC2 }} <br />
                {{ resumeTemp.course2 }}<br />
                {{ resumeTemp.certify2 }}<br />
              </b-td>
            </div>
          </div>
        </div>
        <div class="row">
          <div
            style="padding-left:100px;padding-right:100px;padding-bottom:50px"
          >
            <hr />
            <b-row v-if="this.resumeTemp.language != ''">
              <b-col cols="3">ความสามารถทางภาษา:</b-col>
              <b-col cols="3">{{ resumeTemp.language }}</b-col>
            </b-row>
            <b-row v-if="this.resumeTemp.driving != ''">
              <b-col cols="3">ความสามารถในการขับขี่:</b-col>
              <b-col cols="9">{{ resumeTemp.driving }}</b-col>
            </b-row>
            <b-row v-if="this.resumeTemp.ownVehicle != ''">
              <b-col cols="3">พาหนะส่วนตัว:</b-col>
              <b-col cols="9">{{ resumeTemp.ownVehicle }}</b-col>
            </b-row>
            <b-row v-if="this.resumeTemp.special != ''">
              <b-col cols="3">ความสามารถพิเศษ:</b-col>
              <b-col cols="9">{{ resumeTemp.special }}</b-col>
            </b-row>
            <b-row v-if="this.resumeTemp.other != ''">
              <b-col cols="3">ผลงาน เกียรติประวัติ อื่นๆ:</b-col>
              <b-col cols="9">{{ resumeTemp.other }}</b-col>
            </b-row>
          </div>
        </div>
      </div>
      <b-button block @click="$bvModal.hide('modal-form-resume')"
        >Close</b-button
      >
    </b-modal>

    <b-modal id="modal-form-jobdetail" size="xl" hide-footer title="Detail Job">
      <b-jumbotron class="color">
        <template #header>{{ jobDetailcompany.company_name }}</template>

        <template #lead>
          <b-icon icon="geo-alt" class="icon" variant="dark"></b-icon>Location:
          {{
            jobDetailcompany.address +
              " " +
              jobDetailcompany.subdistrict +
              " " +
              jobDetailcompany.district +
              " " +
              jobDetailcompany.province +
              " " +
              jobDetailcompany.postalnumber
          }}
          <br /><br />
          <b-icon icon="calendar" class="icon" variant="dark"></b-icon>Posted
          Date: {{ jobDetailjob.open }}
        </template>

        <hr class="my-4" />

        <p>
          Company Description
        </p>

        <b-button
          @click="appliedjob()"
          v-if="userlogin.typeuser != 'COMPANY'"
          variant="primary"
          href="#"
          >Apply Job</b-button
        >
      </b-jumbotron>
      <div class="head-text">
        <b-icon icon="briefcase-fill" class="icon" variant="dark"></b-icon>
        Typejob: {{ jobDetailjob.jobType }} <br />
        <b-icon icon="briefcase-fill" class="icon" variant="dark"></b-icon>
        Position: {{ jobDetailjob.position }} <br />
        <b-icon icon="trophy-fill" class="icon" variant="dark"></b-icon>
        Salary: {{ jobDetailjob.minSalary }} -
        {{ jobDetailjob.maxSalary }} บาท<br />
        <b-img :src="require('../assets/vacancies.png')" class="icon"></b-img>
        Vacancies: {{ jobDetailjob.amount }} <br />
        <b-img :src="require('../assets/gender.png')" class="icon"></b-img>
        Gender: {{ jobDetailjob.gender }} <br />
        <b-img :src="require('../assets/military.png')" class="icon"></b-img>
        Military: {{ jobDetailjob.military }} <br />
        <br />
        Job Descriptions <br />
        <p>รายละเอียดงาน</p>
        <p>{{ jobDetailjob.detail }}</p>
        <br />

        Qualifications <br />
        <p>คุณสมบัติ</p>
        <p>{{ jobDetailjob.property }}</p>
        <br />

        Welfares <br />
        <p>สวัสดิการ</p>
        <p>{{ jobDetailjob.welfare }}</p>
        <br />

        Contact <br />
        <p>ติดต่อ</p>
        <p>Tel: {{ jobDetailcompany.tel }}</p>
        <p>Email: {{ jobDetailcompany.email }}</p>
        <p>Website: {{ jobDetailcompany.website }}</p>
        <p>Line: {{ jobDetailcompany.line }}</p>
      </div>
      <b-button block @click="$bvModal.hide('modal-form-jobdetail')"
        >Close</b-button
      >
    </b-modal>

    <div
      style="margin-top:20px; width:1300px ; margin-left:auto; margin-right:auto"
    >
      <b-card-group deck>
        <b-card
          header-tag="header"
          header-bg-variant="dark"
          header-text-variant="white"
        >
          <template #header>
            <h2 class="mb-0">APPLICANT</h2>
          </template>
          <b-table striped hover :items="applicant" :fields="fields">
            <template v-slot:cell(operation)="data">
              <b-button @click="showResume(data.item)" variant="primary">
                <b-icon icon="file-text" class="icon"></b-icon>RESUME</b-button
              >
              &nbsp;
              <b-button @click="showDetail(data.item)">
                <b-icon icon="tv" class="icon"></b-icon>DETAIL</b-button
              >
              &nbsp;
              <b-button @click="recruitapplicant(data.item)" variant="success"
                ><b-icon icon="clipboard-check" class="icon"></b-icon
                >RECRUIT</b-button
              >
            </template>
          </b-table>
        </b-card>
      </b-card-group>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      // Note `isActive` is left out and will not appear in the rendered table
      userlogin: {},
      applicant: [],
      jobDetail: [],
      jobDetailjob: {},
      resumeTemp: {},
      profileTemp: {},
      userTemp: {},
      jobDetailcompany: {},
      job: {},
      form: { _id:"",id_user: "", id_jobpost: "", status: "", detail: "" },
      fields: ["name", "jobType", "position", "status", "operation"],
      detailstate: null,
      statusOption: [
        {
          text: "ปฏิเสธการรับสมัครสัมภาษณ์งาน",
          value: "ปฏิเสธการรับสมัครสัมภาษณ์งาน"
        },
        { value: "อยู่ในระหว่างพิจารณา", text: "อยู่ในระหว่างพิจารณา" },
        {
          value: "ตกลงการรับสมัครสัมภาษณ์งาน",
          text: "ตกลงการรับสมัครสัมภาษณ์งาน"
        }
      ]
    };
  },
  created() {
    this.job.post_id = this.$route.params.postId;
  },
  methods: {
    checkFormValidity() {
      if (this.form.status!="ตกลงการรับสมัครสัมภาษณ์งาน") {
        return (this.detailstate = true);
      } else {
        if(this.form.detail.length < 1){
          return (this.detailstate = false);
        }else{
           return (this.detailstate = true);
        }
      }
    },
    resetModal() {
      this.form = { id_user: "", id_jobpost: "", status: "", detail: "" };
      this.detailstate = null;
    },
    handleOk(bvModalEvt) {
      bvModalEvt.preventDefault();

      this.handleSubmit();
    },
    handleSubmit() {
      if (!this.checkFormValidity()) {
        return;
      }
       axios
        .put("http://localhost:3000/applicant/" ,this.form)
        .then(res => {
          console.log(res);
        })
        .catch(err => {
          console.log(err);
        });

      this.$nextTick(() => {
        this.$bvModal.hide("modal-form-recruitapplicant");
      });
    },
    recruitapplicant(data) {
      this.form._id = data._id
      this.form.id_user = data.id_user
      this.form.id_jobpost = data.id_jobpost
      this.form.status = data.status
      this.form.detail = data.detail
       console.log(data);
      this.$bvModal.show("modal-form-recruitapplicant");
    },
    getapplicant() {
      // this.jobdetail = Service.getapplicant();
      axios
        .get("http://localhost:3000/applicant/" + this.job.post_id)
        .then(res => {
          console.log(res);
          this.applicant = res.data;
        })
        .catch(err => {
          console.log(err);
        });
    },
    getuser() {
      var id = "602cf0aad138440b2c75fca8";
      axios
        .get("http://localhost:3000/user/" + id)
        .then(res => {
          this.userlogin = res.data;
          console.log("userlogin");
          console.log(this.userlogin);
          this.getapplicant();
        })
        .catch(err => {
          console.log(err);
        });
    },
    showDetail(data) {
      console.log(data);
      axios
        .get("http://localhost:3000/job/" + data.id_jobpost)
        .then(res => {
          this.jobDetail = res.data;
          this.jobDetailjob = this.jobDetail[0];
          this.jobDetailcompany = this.jobDetail[1];
        })
        .catch(err => {
          console.log(err);
        });
      this.$bvModal.show("modal-form-jobdetail");
    },
    showResume(data) {
      console.log(data);
      axios
        .get("http://localhost:3000/resume/" + data.id_user)
        .then(res => {
          console.log(res);
          if (res.data != null) this.resumeTemp = res.data;
          console.log(this.resumeTemp);
        })
        .catch(err => {
          console.log(err);
        });

      axios
        .get("http://localhost:3000/profiles/" + data.id_user)
        .then(res => {
          console.log(res);
          if (res.data != null) this.profileTemp = res.data;
          console.log(this.profileTemp);
        })
        .catch(err => {
          console.log(err);
        });

      axios
        .get("http://localhost:3000/user/" + data.id_user)
        .then(res => {
          this.userTemp = res.data;
          console.log(this.userTemp);
        })
        .catch(err => {
          console.log(err);
        });

      this.$bvModal.show("modal-form-resume");
    }
  },
  mounted() {
    console.log("Vue component is mounted.");
    this.getuser();
  }
};
</script>
