<template>
  <div style="margin-left:50px">
    <b-button
      v-if="this.profile.length == 0"
      variant="success"
      class="float-right"
      @click="addNewProfile(form)"
      >Add Profile</b-button
    >
    <b-modal
      id="modal-form-Company"
      ref="modal-form-Company"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="CompanyName"
          label-for="companyname"
          :invalid-feedback="invalidFeedbackName"
          :valid-feedback="validFeedbackName"
          :state="stateName"
        >
          <b-form-input
            id="companyname"
            v-model="form.company_name"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="Type of Business"
          label-for="typejob"
          :invalid-feedback="invalidFeedbackType"
          :valid-feedback="validFeedbackType"
          :state="stateTypeJob"
        >
          <b-form-select
            id="typejob"
            v-model="form.typejob"
            :options="TypeOption"
            required
          ></b-form-select>
        </b-form-group>

        <b-form-group
          label="Address"
          label-for="address"
          :invalid-feedback="invalidFeedbackAddress"
          :valid-feedback="validFeedbackAddress"
          :state="stateAddress"
        >
          <b-form-input
            id="address"
            v-model="form.address"
            required
          ></b-form-input>
        </b-form-group>

         <b-form-group
          label="Subdistrict"
          label-for="subdistrict"
          :invalid-feedback="invalidFeedbackSubdistrict"
          :valid-feedback="validFeedbackSubdistrict"
          :state="stateSubdistrict"
        >
          <b-form-input
            id="subdistrict"
            v-model="form.subdistrict"
            required
          ></b-form-input>
        </b-form-group>

         <b-form-group
          label="District"
          label-for="district"
          :invalid-feedback="invalidFeedbackDistrict"
          :valid-feedback="validFeedbackDistrict"
          :state="stateDistrict"
        >
          <b-form-input
            id="district"
            v-model="form.district"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="Province"
          label-for="province"
          :invalid-feedback="invalidFeedbackProvince"
          :valid-feedback="validFeedbackProvince"
          :state="stateProvince"
        >
          <b-form-input
            id="province"
            v-model="form.province"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="Postalnumber"
          label-for="postalnumber"
          :invalid-feedback="invalidFeedbackPostalnumber"
          :valid-feedback="validFeedbackPostalnumber"
          :state="statePostalnumber"
        >
          <b-form-input
            id="postalnumber"
            v-model="form.postalnumber"
            required
          ></b-form-input>
        </b-form-group> 

        <b-form-group
          label="Tel"
          label-for="tel"
          :invalid-feedback="invalidFeedbackTel"
          :valid-feedback="validFeedbackTel"
          :state="stateTel"
        >
          <b-form-input 
            id="tel" 
            v-model="form.tel" 
            required
            ></b-form-input>
        </b-form-group>

        <b-form-group
          label="Email"
          label-for="Email"
          :invalid-feedback="invalidFeedbackEmail"
          :valid-feedback="validFeedbackEmail"
          :state="stateEmail"
        >
          <b-form-input 
            id="Email" 
            v-model="form.email" 
            required 
            type="email"
            ></b-form-input>
        </b-form-group>

        <b-form-group
          label="Website"
          label-for="Website"
          :invalid-feedback="invalidFeedbackWebsite"
          :valid-feedback="validFeedbackWebsite"
          :state="stateWebsite"
        >
          <b-form-input 
            id="Website" 
            v-model="form.website" 
            required
            ></b-form-input>
        </b-form-group>

        <b-form-group
          label="Line"
          label-for="Line"
          :invalid-feedback="invalidFeedbackLine"
          :valid-feedback="validFeedbackLine"
          :state="stateLine"
        >
          <b-form-input 
            id="Line" 
            v-model="form.line" 
            required
            ></b-form-input>
        </b-form-group>
      </form>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>
    <div style="margin-top:20px; width:1200px ; margin-left:auto; margin-right:auto" >
      <b-card-group deck>
        <b-card header-tag="header">
          <template #header>
            <h2 class="mb-0">Company Profile</h2>
          </template>
          <div class="container">
            <div class="row">
              <div class="col-2">
                <div class="row" > <div class="col-12" style="height:200px; border: 1px solid; margin-top:30px"></div></div>
                <div class="row" style="padding: 10px">
                  <div v-if="this.profile != ''">
                    <b-button @click="editProfile(profile)">Edit</b-button>
                    &nbsp;
                    <b-button variant="danger" @click="delProfile(profile)"
                      >Delete</b-button
                    >
                  </div>
                </div>
              </div>
              <div class="col-5" style="padding-left: 100px">
                <div v-if="this.profile.length != 0">
                  <b-td>
                    ชื่อบริษัท: <br />
                    ลักษณะธุรกิจ: <br />
                    ที่อยู่: <br />
                    ตำบล: <br />
                    อำเภอ: <br />
                    จังหวัด: <br />
                    รหัสไปรษณีย์: <br />
                    เบอร์โทรศัพท์: <br />
                    อีเมลล์: <br />
                    เว็บไซต์: <br />
                    ไลน์: <br />
                  </b-td>

                  <b-td style="padding: 25px">
                    {{ profile.company_name }}<br />
                    {{ profile.typejob }}<br />
                    {{ profile.address }}<br />
                    {{ profile.subdistrict }}<br />
                    {{ profile.district }}<br />
                    {{ profile.province }}<br />
                    {{ profile.postalnumber }} <br />
                    {{ profile.tel }} <br />
                    {{ profile.email }} <br />
                    {{ profile.website }} <br />
                    {{ profile.line }}<br />
                  </b-td>
                </div>
              </div>
              <div class="col-4">
                <div v-if="this.profile.length != 0">
                  <b-td>
                    อีเมล:<br />
                    โทรศัพท์: <br />
                  </b-td>
                  <b-td style="padding: 25px">
                    {{ userlogin.email }}<br />
                    {{ userlogin.tel }}<br />
                  </b-td>
                </div>
              </div>
            </div>
          </div>
        </b-card>
      </b-card-group>
    </div>
  </div>
</template>

<script>
import companyProfileService from "./CompanyProfileService";
import axios from "axios";
export default {
  data() {
    return {
      userlogin: {},
      title: "เพิ่มโปรไฟล์บริษัท",
      form: {
        id_user: "",
        company_name: "",
        typejob: null,
        address: "",
        subdistrict: "",
        district: "",
        province: "",
        postalnumber: "",
        tel: "",
        email: "",
        website: "",
        line:""
      },
      TypeOption: [
        { text: "Select One", value: null },
        { value: "ธุรกิจการผลิต", text: "ธุรกิจการผลิต" },
        { value: "ธุรกิจการค้าส่ง", text: "ธุรกิจการค้าส่ง" },
        { value: "ธุรกิจการค้าปลีก", text: "ธุรกิจการค้าปลีก" },
        { value: "ธุรกิจบริการ", text: "ธุรกิจบริการ" }
      ],
      profile: [],
    };
  },
  methods: {
    editProfile(profile) {
      console.log("edit");
      console.log(profile);
      this.title = "แก้ไขบริษัท";
      this.form = { ...profile };
      this.$bvModal.show("modal-form-Company");
    },
    delProfile(profile) {
      console.log("del");
      console.log(profile);
      this.$bvModal
        .msgBoxConfirm("ท่านต้องการลบหรือไม่!!!", {
          title: "กรุณายืนยัน",
          size: "sm",
          buttonSize: "sm",
          okVariant: "danger",
          okTitle: "YES",
          cancelTitle: "NO",
          footerClass: "p-2",
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            // this.deleteCompany(company)
            // companyProfileService.deleteProfile(profile)
            // this.profile = companyProfileService.getProfile()
            axios
              .delete("http://localhost:3000/companyprofile")
              .then(res => {
                console.log(res)
                this.profile = res.data
                this.getProfile()
              })
              .catch(err => {
                console.log(err)
              })
          }
        })
    },
    addNewProfile(form) {
      console.log(form);
      this.$bvModal.show("modal-form-Company");
    },
    resetModal() {
      this.form = {
        company_name: "",
        typejob: null,
        address: "",
        subdistrict: "",
        district: "",
        province: "",
        postalnumber: "",
        tel: "",
        email: "",
        website: "",
        line: ""
      };
    },
    handleOk(bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault();
      // Trigger submit handler
      this.handleSubmit();
    },
    handleSubmit() {
      // check validate
      if (this.stateName === false)return;
      if (this.stateTypeJob === false)return;
      if (this.stateAddress === false)return;
      if (this.stateSubdistrict === false)return;
      if (this.stateDistrict === false)return;
      if (this.stateProvince === false)return;
      if (this.statePostalnumber === false)return;
      if (this.stateTel === false)return;
      if (this.stateEmail === false)return;
      if (this.stateWebsite === false)return;
      if (this.stateLine === false)return;
      // Do when pass validation
      if (this.profile.length != 0) {
        // this.updateCompany(this.form)
        // companyProfileService.updateProfile(this.form)
        // this.profile = companyProfileService.getProfile()
        axios
          .put("http://localhost:3000/companyprofile", this.form)
          .then(res => {
            console.log(res)
            this.profile = res.data
            this.getProfile()
          })
          .catch(err => {
            console.log(err)
          })

      } else {
        // this.addNewCompany(this.form)
        // companyProfileService.addProfile(this.form)
        // this.profile = companyProfileService.getProfile()
        axios
          .post("http://localhost:3000/companyprofile", this.form)
          .then(res => {
            console.log(res)
            this.profile = res.data
            this.getProfile()
          })
          .catch(err => {
            console.log(err)
          })
      }
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide("modal-form-Company");
      });
    },
    getProfile() {
      axios
        .get("http://localhost:3000/companyprofile/"+this.userlogin._id)
        .then(res => {
          console.log(res)
          this.profile = res.data
        })
        .catch(err => {
          console.log(err)
        })
    },
    getuser() {
      var id = "602cf0aad138440b2c75fca8";
      axios
        .get("http://localhost:3000/user/" + id)
        .then(res => {
          this.userlogin = res.data;
          console.log("userlogin");
          console.log(this.userlogin);
          this.form.id_user = this.userlogin._id + "";
           this.getProfile()
        })
        .catch(err => {
          console.log(err);
        });
    }
  },
  computed: {
    stateEmail() {
      // return this.userlogin.email.length >= 2;
    },
    invalidFeedbackEmail() {
      // if (this.userlogin.email.length < 2 && this.userlogin.email.length > 0) {
      //   return "ต้องมีความยาวอย่างน้อย 2 ตัวอักษร";
      // }
      // return "กรุณาใส่ข้อมูล";
    },
    validFeedbackEmail() {
      // return this.stateEmail === true ? "สำเร็จ" : "";
    },
    stateName() {
      return this.form.company_name.length >= 2;
    },
    invalidFeedbackName() {
      if (this.form.company_name.length < 2 && this.form.company_name.length > 0) {
        return "ต้องมีความยาวอย่างน้อย 2 ตัวอักษร";
      }
      return "กรุณาใส่ข้อมูล";
    },
    validFeedbackName() {
      return this.stateName === true ? "สำเร็จ" : "";
    },
    stateTypeJob() {
      return this.form.typejob != null;
    },
    invalidFeedbackType() {
      if (this.form.typejob != null) {
        return "";
      }
      return "กรุณาเลือกประเภทธุรกิจ";
    },
    validFeedbackType() {
      return this.stateTypeJob === true ? "สำเร็จ" : "";
    },
    stateAddress() {
      return this.form.address.length >= 2;
    },
    invalidFeedbackAddress() {
      if (this.form.address.length < 2 && this.form.address.length > 0) {
        return "ต้องมีความยาวอย่างน้อย 2 ตัวอักษร";
      }
      return "กรุณาใส่ข้อมูล";
    },
    validFeedbackAddress() {
      return this.stateAddress === true ? "สำเร็จ" : "";
    },
    stateSubdistrict() {
      return this.form.subdistrict.length >= 2;
    },
    invalidFeedbackSubdistrict() {
      if (
        this.form.subdistrict.length < 2 &&
        this.form.subdistrict.length > 0
      ) {
        return "ต้องมีความยาวอย่างน้อย 2 ตัวอักษร";
      }
      return "กรุณาใส่ข้อมูล";
    },
    validFeedbackSubdistrict() {
      return this.stateSubdistrict === true ? "สำเร็จ" : "";
    },
    stateDistrict() {
      return this.form.district.length >= 2;
    },
    invalidFeedbackDistrict() {
      if (this.form.district.length < 2 && this.form.district.length > 0) {
        return "ต้องมีความยาวอย่างน้อย 2 ตัวอักษร";
      }
      return "กรุณาใส่ข้อมูล";
    },
    validFeedbackDistrict() {
      return this.stateDistrict === true ? "สำเร็จ" : "";
    },
    stateProvince() {
      return this.form.province.length >= 2;
    },
    invalidFeedbackProvince() {
      if (this.form.province.length < 2 && this.form.province.length > 0) {
        return "ต้องมีความยาวอย่างน้อย 2 ตัวอักษร";
      }
      return "กรุณาใส่ข้อมูล";
    },
    validFeedbackProvince() {
      return this.stateProvince === true ? "สำเร็จ" : "";
    },
    statePostalnumber() {
      return this.form.postalnumber.length >= 2;
    },
    invalidFeedbackPostalnumber() {
      if (
        this.form.postalnumber.length < 2 &&
        this.form.postalnumber.length > 0
      ) {
        return "ต้องมีความยาวอย่างน้อย 2 ตัวอักษร";
      }
      return "กรุณาใส่ข้อมูล";
    },
    validFeedbackPostalnumber() {
      return this.statePostalnumber === true ? "สำเร็จ" : "";
    },
    stateTel() {
      return this.form.tel.length >= 10;
    },
    invalidFeedbackTel() {
      if (this.form.tel.length < 10 && this.form.tel.length > 0) {
        return "ต้องมีความยาวอย่างน้อย 10 ตัวอักษร";
      }
      return "กรุณาใส่ข้อมูล";
    },
    validFeedbackTel() {
      return this.stateTel === true ? "สำเร็จ" : "";
    },
    stateEmail() {
      return this.form.email.length != 0;
    },
    invalidFeedbackEmail() {
      return "กรุณาใส่ E-mail";
    },
    validFeedbackEmail() {
      return this.stateEmail === true ? "สำเร็จ" : "";
    },
    stateWebsite() {
      return this.form.website.length != 0;
    },
    invalidFeedbackWebsite() {
      return "กรุณาใส่ Website";
    },
    validFeedbackWebsite() {
      return this.stateWebsite === true ? "สำเร็จ" : "";
    },
    stateLine() {
      return this.form.line.length != 0;
    },
    invalidFeedbackLine() {
      return "กรุณาใส่ Line";
    },
    validFeedbackLine() {
      return this.stateLine === true ? "สำเร็จ" : ""; 
    },
  },
  mounted () {
    console.log('Vue Component is mounted')
    this.getuser()
  }
};
</script>
