<template>
  <div>
    <b-button
      style="margin:15px"
      variant="success"
      class="float-right"
      @click="addNewCompany()"
      >Add Company</b-button
    >
    <b-modal
      id="modal-form-Company"
      ref="modal-form-Company"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="CompanyName"
          label-for="companyname"
          :invalid-feedback="invalidFeedbackName"
          :valid-feedback="validFeedbackName"
          :state="stateName"
        >
          <b-form-input
            id="companyname"
            v-model="form.company_name"
            required
            type="text"
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="Type of Business"
          label-for="type"
          :invalid-feedback="invalidFeedbackType"
          :valid-feedback="validFeedbackType"
          :state="stateType"
        >
          <b-form-select
            id="type"
            v-model="form.type"
            :options="TypeOption"
            required
          ></b-form-select>
        </b-form-group>

        <b-form-group
          label="Address"
          label-for="address"
          :invalid-feedback="invalidFeedbackAddress"
          :valid-feedback="validFeedbackAddress"
          :state="stateAddress"
        >
          <b-form-input
            id="address"
            v-model="form.address"
            required
            type="text"
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="Subdistrict"
          label-for="subdistrict"
          :invalid-feedback="invalidFeedbackSubdistrict"
          :valid-feedback="validFeedbackSubdistrict"
          :state="stateSubdistrict"
        >
          <b-form-input
            id="subdistrict"
            v-model="form.subdistrict"
            required
            type="text"
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="District"
          label-for="district"
          :invalid-feedback="invalidFeedbackDistrict"
          :valid-feedback="validFeedbackDistrict"
          :state="stateDistrict"
        >
          <b-form-input
            id="district"
            v-model="form.district"
            required
            type="text"
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="Province"
          label-for="province"
          :invalid-feedback="invalidFeedbackProvince"
          :valid-feedback="validFeedbackProvince"
          :state="stateProvince"
        >
          <b-form-input
            id="province"
            v-model="form.province"
            required
            type="text"
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="Postalnumber"
          label-for="postalnumber"
          :invalid-feedback="invalidFeedbackPostalnumber"
          :valid-feedback="validFeedbackPostalnumber"
          :state="statePostalnumber"
        >
          <b-form-input
            id="postalnumber"
            v-model="form.postalnumber"
            required
            type="text"
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="Tel"
          label-for="tel"
          :invalid-feedback="invalidFeedbackTel"
          :valid-feedback="validFeedbackTel"
          :state="stateTel"
        >
          <b-form-input id="tel" v-model="form.tel" required></b-form-input>
        </b-form-group>

        <b-form-group
          label="Email"
          label-for="Email"
          :invalid-feedback="invalidFeedbackEmail"
          :valid-feedback="validFeedbackEmail"
          :state="stateEmail"
        >
          <b-form-input
            id="Email"
            v-model="form.email"
            required
            type="email"
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="Website"
          label-for="Website"
          :invalid-feedback="invalidFeedbackWebsite"
          :valid-feedback="validFeedbackWebsite"
          :state="stateWebsite"
        >
          <b-form-input
            id="Website"
            v-model="form.website"
            required
            type="text"
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="Line"
          label-for="Line"
          :invalid-feedback="invalidFeedbackLine"
          :valid-feedback="validFeedbackLine"
          :state="stateLine"
        >
          <b-form-input 
          id="Line" 
          v-model="form.line" 
          required
          type="text"
          ></b-form-input>
        </b-form-group>
      </form>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>

    <b-table striped hover :items="companyList" :fields="fields">
      <template v-slot:cell(operation)="data">
        <b-button @click="editCompany(data.item)">Edit</b-button>
        &nbsp;
        <b-button variant="danger" @click="delCompany(data.item)"
          >Delete</b-button>
      </template>
    </b-table>
  </div>
</template>

<script>
import axios from 'axios'
import companyService from './CompanyService'
// import axios from "axios";
export default {
  data () {
    return {
      title: 'เพิ่มบริษัท',
      form: {
        _id: "",
        company_name: "",
        type: null,
        address: "",
        subdistrict: "",
        district: "",
        province: "",
        postalnumber: "",
        tel: "",
        email: "",
        website: "",
        line: "",
      },
      TypeOption: [
        { text: 'Select One', value: null },
        { value: 'ธุรกิจการผลิต', text: 'ธุรกิจการผลิต' },
        { value: 'ธุรกิจการค้าส่ง', text: 'ธุรกิจการค้าส่ง' },
        { value: 'ธุรกิจการค้าปลีก', text: 'ธุรกิจการค้าปลีก' },
        { value: 'ธุรกิจบริการ', text: 'ธุรกิจบริการ' }
      ],
      companyList: [],
      lastId: 3,
      fields: [
        {
          key: "id",
          label: "id",
        },
        "company_name",
        "type",
        "address",
        "subdistrict",
        "district",
        "province",
        "postalnumber",
        "tel",
        "email",
        "website",
        "line",
        "operation",
      ]
    }
  },
  methods: {
    addNewCompany () {
      console.log("Add New Company")
      this.$bvModal.show("modal-form-Company")
    },
    editCompany (company) {
      console.log("edit")
      console.log(company)
      this.title = "แก้ไขบริษัท"
      this.form = { ...company }
      this.$bvModal.show('modal-form-Company')
    },
    delCompany (company) {
      console.log("del")
      console.log(company)
      this.$bvModal
        .msgBoxConfirm(
          'ท่านต้องการลบ ' + company.company_name + ' หรือไม่!!!',
          {
            title: 'กรุณายืนยัน',
            size: 'sm',
            buttonSize: 'sm',
            okVariant: 'danger',
            okTitle: 'YES',
            cancelTitle: 'NO',
            footerClass: 'p-2',
            hideHeaderClose: false,
            centered: true
          }
        )
        .then(value => {
          if (value) {
            // this.deleteCompany(company)
            // companyService.deleteCompany(company)
            axios
              .delete('http://localhost:3000/company/' + company._id)
              .then((res) => {
                console.log(res)
                this.getCompanies()
              })
              .catch(err => {
                console.log(err)
              })
              this.getCompanies()
          }
        })
    },
    resetModal () {
      this.form = {
        _id: "",
        company_name: "",
        type: null,
        address: "",
        subdistrict: "",
        district: "",
        province: "",
        postalnumber: "",
        tel: "",
        email: "",
        website: "",
        line: "",
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // check validate
      if (this.stateName === false ) return
      if (this.stateType === false) return
      if (this.stateAddress === false) return
      if (this.stateSubdistrict === false) return
      if (this.stateDistrict === false) return
      if (this.stateProvince === false) return
      if (this.statePostalnumber === false) return
      if (this.stateTel === false) return
      if (this.stateEmail === false) return
      if (this.stateWebsite === false) return
      if (this.stateLine === false) return
      // Do when pass validation
      if (this.form._id != "") {
        // this.updateCompany(this.form)
        // companyService.updateCompany(this.form)
        axios
          .put('http://localhost:3000/company', this.form)
          .then(res => {
            console.log(res)
            this.getCompanies()
          })
          .catch(err => {
            console.log(err)
          })
      } else {
        // this.addNewCompany(this.form)
        // companyService.addNewCompany(this.form)
        delete this.form._id
        axios
          .post('http://localhost:3000/company', this.form)
          .then(res => {
            console.log(res)
            this.getCompanies()
          })
          .catch(err => {
            console.log(err)
          })
      }
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-Company')
      })
    },
    addCompany (company) {
      company._id = this.lastId++
      this.companyList.push(company)
    },
    updateCompany (company) {
      const index = this.companyList.findIndex(item => item._id === company._id)
      this.companyList.splice(index, 1, company)
    },
    deleteCompany (company) {
      const index = this.companyList.findIndex(item => item._id === company._id)
      this.companyList.splice(index, 1)
    },
    getCompanies () {
      // this.companyList = companyService.getCompanies()
      axios
        .get('http://localhost:3000/company')
        .then(res => {
          console.log(res)
          this.companyList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  computed: {
    stateName () {
      return this.form.company_name.length >= 2
    },
    invalidFeedbackName () {
      if (
        this.form.company_name.length < 2 &&
        this.form.company_name.length > 0
      ) {
        return 'ต้องมีความยาวอย่างน้อย 2 ตัวอักษร'
      }
      return 'กรุณาใส่ชื่อบริษัท'
    },
    validFeedbackName () {
      return this.stateName === true ? 'สำเร็จ' : ''
    },
    stateType () {
      return this.form.type != null
    },
    invalidFeedbackType () {
      if (this.form.type != null) {
        return ''
      }
      return 'กรุณาเลือกประเภทธุรกิจ'
    },
    validFeedbackType () {
      return this.stateType === true ? 'สำเร็จ' : ''
    },
    stateAddress () {
      return this.form.address.length >= 2
    },
    invalidFeedbackAddress () {
      if (this.form.address.length < 2 && this.form.address.length > 0) {
        return 'ต้องมีความยาวอย่างน้อย 2 ตัวอักษร'
      }
      return 'กรุณาใส่ข้อมูลที่อยู่'
    },
    validFeedbackAddress () {
      return this.stateAddress === true ? 'สำเร็จ' : ''
    },
    stateSubdistrict () {
      return this.form.subdistrict.length >= 2
    },
    invalidFeedbackSubdistrict () {
      if (
        this.form.subdistrict.length < 2 &&
        this.form.subdistrict.length > 0
      ) {
        return 'ต้องมีความยาวอย่างน้อย 2 ตัวอักษร'
      }
      return 'กรุณาใส่ข้อมูลตำบล'
    },
    validFeedbackSubdistrict () {
      return this.stateSubdistrict === true ? 'สำเร็จ' : ''
    },
    stateDistrict () {
      return this.form.district.length >= 2
    },
    invalidFeedbackDistrict () {
      if (this.form.district.length < 2 && this.form.district.length > 0) {
        return 'ต้องมีความยาวอย่างน้อย 2 ตัวอักษร'
      }
      return 'กรุณาใส่ข้อมูลอำเภอ'
    },
    validFeedbackDistrict () {
      return this.stateDistrict === true ? 'สำเร็จ' : ''
    },
    stateProvince () {
      return this.form.province.length >= 2
    },
    invalidFeedbackProvince () {
      if (this.form.province.length < 2 && this.form.province.length > 0) {
        return 'ต้องมีความยาวอย่างน้อย 2 ตัวอักษร'
      }
      return 'กรุณาใส่ข้อมูลจังหวัด'
    },
    validFeedbackProvince () {
      return this.stateProvince === true ? 'สำเร็จ' : ''
    },
    statePostalnumber () {
      return this.form.postalnumber.length >= 2
    },
    invalidFeedbackPostalnumber () {
      if (
        this.form.postalnumber.length < 2 &&
        this.form.postalnumber.length > 0
      ) {
        return 'ต้องมีความยาวอย่างน้อย 2 ตัวอักษร'
      }
      return 'กรุณาใส่ข้อมูลรหัสไปรษรณีย์'
    },
    validFeedbackPostalnumber () {
      return this.statePostalnumber === true ? 'สำเร็จ' : ''
    },
    stateTel () {
      return this.form.tel.length >= 10
    },
    invalidFeedbackTel () {
      if (this.form.tel.length < 10 && this.form.tel.length > 0) {
        return 'ต้องมีความยาวอย่างน้อย 10 ตัวอักษร'
      }
      return 'กรุณาใส่เบอร์โทรศัพท์'
    },
    validFeedbackTel () {
      return this.stateTel === true ? 'สำเร็จ' : ''
    },
    stateEmail () {
      return this.form.email.length != 0
    },
    invalidFeedbackEmail () {
      return 'กรุณาใส่ E-mail'
    },
    validFeedbackEmail () {
      return this.stateEmail === true ? 'สำเร็จ' : ''
    },
    stateWebsite () {
      return this.form.website.length != 0
    },
    invalidFeedbackWebsite () {
      return 'กรุณาใส่ Website'
    },
    validFeedbackWebsite () {
      return this.stateWebsite === true ? 'สำเร็จ' : ''
    },
    stateLine () {
      return this.form.line.length != 0
    },
    invalidFeedbackLine () {
      return 'กรุณาใส่ Line'
    },
    validFeedbackLine () {
      return this.stateLine === true ? 'สำเร็จ' : ''
    }
  },
  mounted () {
    console.log('Vue Component is mounted')
    this.getCompanies()
  },
}
</script>
