<template>
  <div class="container">
    <div style="margin-top:20px">
      <b-jumbotron class="color">
        <template #header>{{ jobDetailcompany.company_name }}</template>

        <template #lead>
          <b-icon icon="geo-alt" class="icon" variant="dark"></b-icon>Location:
          {{
            jobDetailcompany.address +
              " " +
              jobDetailcompany.subdistrict +
              " " +
              jobDetailcompany.district +
              " " +
              jobDetailcompany.province +
              " " +
              jobDetailcompany.postalnumber
          }}
          <br /><br />
          <b-icon icon="calendar" class="icon" variant="dark"></b-icon>Posted
          Date: {{ jobDetailjob.open }}
        </template>

        <hr class="my-4" />

        <p>
          Company Description
        </p>

        <b-button
          @click="appliedjob()"
          v-if="userlogin.typeuser != 'COMPANY'"
          variant="primary"
          href="#"
          >Apply Job</b-button
        >
      </b-jumbotron>
      <div class="head-text">
        <b-icon icon="briefcase-fill" class="icon" variant="dark"></b-icon>
        Typejob: {{ jobDetailjob.jobType }} <br />
        <b-icon icon="briefcase-fill" class="icon" variant="dark"></b-icon>
        Position: {{ jobDetailjob.position }} <br />
        <b-icon icon="trophy-fill" class="icon" variant="dark"></b-icon>
        Salary: {{ jobDetailjob.minSalary }} -
        {{ jobDetailjob.maxSalary }} บาท<br />
        <b-img :src="require('../assets/vacancies.png')" class="icon"></b-img>
        Vacancies: {{ jobDetailjob.amount }} <br />
        <b-img :src="require('../assets/gender.png')" class="icon"></b-img>
        Gender: {{ jobDetailjob.gender }} <br />
        <b-img :src="require('../assets/military.png')" class="icon"></b-img>
        Military: {{ jobDetailjob.military }} <br />
        <br />
        Job Descriptions <br />
        <p>รายละเอียดงาน</p>
        <p>{{ jobDetailjob.detail }}</p>
        <br />

        Qualifications <br />
        <p>คุณสมบัติ</p>
        <p>{{ jobDetailjob.property }}</p>
        <br />

        Welfares <br />
        <p>สวัสดิการ</p>
        <p>{{ jobDetailjob.welfare }}</p>
        <br />

        Contact <br />
        <p>ติดต่อ</p>
        <p>Tel: {{ jobDetailcompany.tel }}</p>
        <p>Email: {{ jobDetailcompany.email }}</p>
        <p>Website: {{ jobDetailcompany.website }}</p>
        <p>Line: {{ jobDetailcompany.line }}</p>
      </div>
    </div>
  </div>
</template>
<style>
.head-text {
  font-size: 25px;
}
.head-text p {
  font-size: 18px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.color {
  background-color: rgb(243, 243, 243);
}
.display-3 {
  font-size: 40px;
  font-weight: 400;
}
.icon {
  width: 25px;
  height: 25px;
}
</style>

<script>
import axios from "axios";
export default {
  data() {
    return {
      userlogin: {},
      jobDetail: [],
      jobDetailjob: {},
      jobDetailcompany: {}
    };
  },
  created() {
    this.jobDetail.post_id = this.$route.params.postId;
    this.jobDetail.id_user = this.$route.params.userid;
  },
  methods: {
    getJobPosts() {
      var id = this.jobDetail.post_id;
      axios
        .get("http://localhost:3000/job/" + id)
        .then(res => {
          this.jobDetail = res.data;
          this.jobDetailjob = this.jobDetail[0];
          this.jobDetailcompany = this.jobDetail[1];
        })
        .catch(err => {
          console.log(err);
        });
    },
    getuser() {
      var id = this.jobDetail.id_user;
      axios
        .get("http://localhost:3000/user/" + id)
        .then(res => {
          this.userlogin = res.data;
          console.log("userlogin");
          console.log(this.userlogin);
          this.getJobPosts();
        })
        .catch(err => {
          console.log(err);
        });
    },
    appliedjob() {
      var formappliedjob = {};
      formappliedjob.id_user = this.userlogin._id;
      formappliedjob.id_jobpost = this.jobDetailjob._id;
      formappliedjob.status = "อยู่ในระหว่างพิจารณา";
      formappliedjob.detail = "";
      console.log(formappliedjob);
      axios
        .post("http://localhost:3000/applicant/", formappliedjob)
        .then(res => {
          console.log(res);
          this.$router.push("/appliedjob");
        })
        .catch(err => {
          console.log(err);
        });
    }
  },
  mounted() {
    console.log("Vue component is mounted.");
    this.getuser();
  }
};
</script>
