<template>
  <div>
    <b-modal
      id="modal-form-jobpost"
      ref="modal-form-jobpost"
      :title="title"
      @hidden="resetModal(form.id_user)"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="ประเภทงาน"
          label-for="jobType"
          :invalid-feedback="invalidFeedbackJobType"
          :valid-feedback="validFeedbackJobType"
          :state="stateJobType"
        >
          <b-form-select
            id="jobType"
            v-model="form.jobType"
            :options="jobTypeOption"
            required
          ></b-form-select>
        </b-form-group>
        <b-form-group
          label="ตำแหน่งงาน"
          label-for="position"
          :invalid-feedback="invalidFeedbackPosition"
          :valid-feedback="validFeedbackPosition"
          :state="statePosition"
        >
          <b-form-input
            id="position"
            v-model="form.position"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="minSalary"
          label-for="minSalary"
          :invalid-feedback="invalidFeedbackMinSalary"
          :valid-feedback="validFeedbackMinSalary"
          :state="stateMinSalary"
        >
          <b-form-select
            id="minSalary"
            v-model="form.minSalary"
            :options="minOption"
            required
          ></b-form-select>
        </b-form-group>
        <b-form-group
          label="maxSalary"
          label-for="maxSalary"
          :invalid-feedback="invalidFeedbackMaxSalary"
          :valid-feedback="validFeedbackMaxSalary"
          :state="stateMaxSalary"
        >
          <b-form-select
            id="maxSalary"
            v-model="form.maxSalary"
            :options="maxOption"
            required
          ></b-form-select>
        </b-form-group>
        <b-form-group
          label="อัตรารับ"
          label-for="amount"
          :invalid-feedback="invalidFeedbackAmount"
          :valid-feedback="validFeedbackAmount"
          :state="stateAmount"
        >
          <b-form-input
            id="amount"
            v-model="form.amount"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group label="การทหาร">
          <b-form-radio-group
            id="military"
            v-model="form.military"
            :options="militaryOption"
            name="radio-options"
          ></b-form-radio-group>
        </b-form-group>
        <b-form-group label="เพศ">
          <b-form-radio-group
            id="gender"
            v-model="form.gender"
            :options="genderOption"
            name="radio-optionals"
          ></b-form-radio-group>
        </b-form-group>
        <b-form-group
          label="หน้าที่และรายละเอียดงาน:"
          :invalid-feedback="invalidFeedbackDetail"
          :valid-feedback="validFeedbackDetail"
          :state="stateDetail"
        >
          <b-form-textarea
            id="datail"
            v-model="form.detail"
            placeholder="Enter something..."
            rows="3"
            max-rows="5"
          ></b-form-textarea>
        </b-form-group>
        <b-form-group
          label="คุณสมบัติ:"
          :invalid-feedback="invalidFeedbackProp"
          :valid-feedback="validFeedbackProp"
          :state="stateProp"
        >
          <b-form-textarea
            id="property"
            v-model="form.property"
            placeholder="Enter something..."
            rows="3"
            max-rows="5"
          ></b-form-textarea>
        </b-form-group>
        <b-form-group
          label="สวัสดิการ:"
          :invalid-feedback="invalidFeedbackWelfare"
          :valid-feedback="validFeedbackWelfare"
          :state="stateWelfare"
        >
          <b-form-textarea
            id="welfare"
            v-model="form.welfare"
            placeholder="Enter something..."
            rows="3"
            max-rows="5"
          ></b-form-textarea>
        </b-form-group>
      </form>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>
    <div
      style="margin-top:20px; width:1300px ; margin-left:auto; margin-right:auto"
    >
      <b-card-group deck>
        <b-card header-tag="header">
          <template #header>
            <h2 class="mb-0">
              Job Post
              <b-button
                variant="primary"
                class="float-right"
                @click="addNewPost()"
                >+ โพสต์งานใหม่</b-button
              >
            </h2>
          </template>
          <b-table striped hover :items="postList" :fields="fields">
            <template #cell(status)="data">
              <div v-if="data.item.status == true">
                เปิด
              </div>
              <div v-else>
                ปิด
              </div>
            </template>
            <template #cell(example)="data">
              <b-button variant="white" @click="showDetail(data.item)"
                ><b-icon icon="tv" class="icon" variant="dark"></b-icon
              ></b-button>
            </template>
            <template v-slot:cell(operation)="data">
              <b-button @click="editPost(data.item)">Edit</b-button>
              &nbsp;
              <b-button variant="info" @click="showApplicants(data.item)"
                >Applicants</b-button
              >
              &nbsp;
              <template v-if="data.item.status == true">
                <b-button variant="danger" @click="changeStatus(data.item)"
                  >Close</b-button
                >
              </template>
            </template>
          </b-table>
        </b-card>
      </b-card-group>
    </div>
  </div>
</template>

<script>
import JobPostService from "./JobPostService";
import axios from "axios";
const now = new Date();
const today = new Date(now.getFullYear(), now.getMonth(), now.getDate());
const todayISO = today.toLocaleDateString();
export default {
  data() {
    return {
      title: "โพสต์งานใหม่",
      form: {
        _id: -1,
        id_user: "",
        jobType: null,
        position: "",
        minSalary: null,
        maxSalary: null,
        open: todayISO,
        status: true,
        amount: null,
        military: "ไม่กำหนด",
        detail: "",
        property: "",
        welfare: "",
        gender: "ไม่กำหนด"
      },
      jobTypeOption: [
        { text: "Select One", value: null },
        "คอมพิวเตอร์/IT/โปรแกรมเมอร์",
        "กฎหมาย",
        "เกษตร/จัดสวน/ปศุสัตว์/ประมง/เหมืองแร่",
        "เขียนแบบ/งานDrawing/AutoCad/ออกแบบวิศวกรรม",
        "งานบัญชี",
        "งานขนส่ง-คลังสินค้า",
        "งานบริการลูกค้า-Call Center",
        "การตลาด",
        "ขาย",
        "งานการเงิน-ธนาคาร",
        "งานนำเข้า-ส่งออก",
        "ผู้จัดการ/ผู้อำนวยการ/MD/CEO",
        "แผนกรักษาความปลอดภัย/งานอาคารจอดรถ"
      ],
      militaryOption: ["ผ่าน", "ไม่กำหนด"],
      genderOption: ["หญิง", "ชาย", "ไม่กำหนด"],
      minOption: [
        { text: "Select One", value: null },
        5000,
        10000,
        15000,
        20000,
        25000,
        30000,
        35000,
        40000,
        45000,
        50000,
        55000,
        60000
      ],
      maxOption: [
        { text: "Select One", value: null },
        10000,
        15000,
        20000,
        25000,
        30000,
        35000,
        40000,
        45000,
        50000,
        55000,
        60000
      ],
      postList: [],
      fields: [
         {
          key: "jobType",
          label: "ประเภทงาน"
        },
        {
          key: "position",
          label: "ตำแหน่งงาน"
        },
        {
          key: "amount",
          label: "อัตรารับ"
        },
        {
          key: "amountapplicant",
          label: "จำนวนผู้สมัคร"
        },
        {
          key: "open",
          label: "วันที่เปิดรับ"
        },
        "status",
        "example",
        "operation"
      ]
    };
  },
  methods: {
    showApplicants(data){
       console.log(data);
      this.$router.push({
        name: "applicant",
        params: { postId: data._id}
      });
    },
    addNewPost() {
      console.log("Add new");
      this.$bvModal.show("modal-form-jobpost");
    },
    editPost(post) {
      console.log("edit");
      console.log(post);
      this.title = "แก้ไขโพสต์";
      this.form = { ...post };
      this.$bvModal.show("modal-form-jobpost");
    },
    changeStatus(post) {
      if (post.status == true) {
        post.status = false;
      }
      const index = this.postList.findIndex(item => item._id === post._id);
      this.postList.splice(index, 1, post);
      this.form = { ...post };
      axios
        .put("http://localhost:3000/jobpost", this.form)
        .then(res => {
          console.log(res);
          this.getJobPosts();
        })
        .catch(err => {
          console.log(err);
        });
    },
    resetModal(iduser) {
      this.form = {
        _id: -1,
        jobType: null,
        id_user: iduser,
        position: "",
        minSalary: null,
        maxSalary: null,
        open: todayISO,
        status: true,
        amount: null,
        military: "ไม่กำหนด",
        detail: "",
        property: "",
        welfare: "",
        gender: "ไม่กำหนด"
      };
    },
    handleOk(bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault();
      // Trigger submit handler
      this.handleSubmit();
    },
    handleSubmit() {
      // check validate
      if (this.stateName === false || this.stateMinSalary === false) {
        return;
      }
      // Do when pass validation
      if (this.form._id != "-1") {
        //JobPostService.updatePost(this.form)
        axios
          .put("http://localhost:3000/jobpost", this.form)
          .then(res => {
            console.log(res);
            this.getJobPosts();
          })
          .catch(err => {
            console.log(err);
          });
      } else {
        //this.addPost(this.form)
        delete this.form._id;
        axios
          .post("http://localhost:3000/jobpost", this.form)
          .then(res => {
            console.log(res);
            this.getJobPosts();
          })
          .catch(err => {
            console.log(err);
          });
      }
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide("modal-form-jobpost");
        this.getJobPosts();
      });
    },
    addPost(post) {
      post.id = this.lastId++;
      this.postList.push(post);
    },
    updatePost(post) {
      const index = this.postList.findIndex(item => item.id === post.id);
      this.postList.splice(index, 1, post);
    },
    getJobPosts() {
      axios
        .get("http://localhost:3000/jobpost/" + this.userlogin._id)
        .then(res => {
          console.log(res);
          this.postList = res.data;
        })
        .catch(err => {
          console.log(err);
        });
    },
    getUser() {
      var id = "602cf0aad138440b2c75fca8";
      axios
        .get("http://localhost:3000/user/" + id)
        .then(res => {
          this.userlogin = res.data;
          console.log("userlogin");
          console.log(this.userlogin);
          this.form.id_user = this.userlogin._id + "";
          this.getJobPosts();
        })
        .catch(err => {
          console.log(err);
        });
    },
    showDetail(post) {
      this.$router.push({
        name: "jobdetail",
        params: { postId: post._id, userid: this.userlogin._id }
      });
      console.log(post);
    }
  },
  computed: {
    stateJobType() {
      return this.form.jobType != null;
    },
    invalidFeedbackJobType() {
      if (this.form.jobType != null) {
        return "";
      }
      return "กรุณาเลือกตำแหน่งงาน";
    },
    validFeedbackJobType() {
      return this.stateJobType === true ? "สำเร็จ" : "";
    },
    statePosition() {
      return this.form.position != "";
    },
    invalidFeedbackPosition() {
      if (this.form.position == "") {
        return "กรุณาใส่ตำแหน่งงาน";
      }
      return "กรุณาใส่ตำแหน่งงาน";
    },
    validFeedbackPosition() {
      return this.statePosition === true ? "สำเร็จ" : "";
    },
    stateAmount() {
      return (
        this.form.amount != null &&
        this.form.amount > 0 &&
        !isNaN(this.form.amount)
      );
    },
    invalidFeedbackAmount() {
      if (this.form.amount == null) {
        return "กรุณาใส่อัตรารับ";
      } else if (this.form.amount <= 0) {
        return "อัตรารับต้องมากกว่า 0";
      }
      return "ต้องเป็นตัวเลข";
    },
    validFeedbackAmount() {
      return this.stateAmount === true ? "สำเร็จ" : "";
    },
    stateMinSalary() {
      return this.form.minSalary != null;
    },
    invalidFeedbackMinSalary() {
      if (this.form.minSalary != null) {
        return "";
      }
      return "กรุณาเลือกเงินเดือนเริ่มต้น";
    },
    validFeedbackMinSalary() {
      return this.stateMinSalary === true ? "สำเร็จ" : "";
    },
    stateMaxSalary() {
      return (
        this.form.minSalary != null &&
        this.form.maxSalary != null &&
        this.form.maxSalary > this.form.minSalary
      );
    },
    invalidFeedbackMaxSalary() {
      if (this.form.minSalary === null) {
        return "กรุณาเลือกเงินเดือนเริ่มต้น";
      } else if (
        this.form.maxSalary != null &&
        this.form.maxSalary <= this.form.minSalary
      ) {
        return "เงินเดือนสูงสุดต้องมากกว่าเงินเดือนเริ่มต้น";
      }
      return "กรุณาเลือกเงินเดือนสูงสุด";
    },
    validFeedbackMaxSalary() {
      return this.stateMaxSalary === true ? "สำเร็จ" : "";
    },
    stateDetail() {
      return this.form.detail != "";
    },
    invalidFeedbackDetail() {
      if (this.form.detail == "") {
        return "กรุณากรอกรายละเอียด";
      }
      return "กรุณากรอกรายละเอียด";
    },
    validFeedbackDetail() {
      return this.stateDetail === true ? "สำเร็จ" : "";
    },
    stateProp() {
      return this.form.property != "";
    },
    invalidFeedbackProp() {
      if (this.form.property == "") {
        return "กรุณากรอกรายละเอียด";
      }
      return "กรุณากรอกรายละเอียด";
    },
    validFeedbackProp() {
      return this.stateProp === true ? "สำเร็จ" : "";
    },
    stateWelfare() {
      return this.form.welfare != "";
    },
    invalidFeedbackWelfare() {
      if (this.form.welfare == "") {
        return "กรุณากรอกรายละเอียด";
      }
      return "กรุณากรอกรายละเอียด";
    },
    validFeedbackWelfare() {
      return this.stateWelfare === true ? "สำเร็จ" : "";
    }
  },
  mounted() {
    console.log("Vue component is mounted.");
    this.getUser();
  }
};
</script>
