<template>
  <div class="container">
    <form id="modal-form-login">
      <h1>MEMBER LOGIN</h1>
      <b-form-group label="NAME" label-for="NAME">
        <b-form-input
          id="name"
          v-model="form.name"
          required
          type="text"
        ></b-form-input>
      </b-form-group>

      <b-form-group label="PASSWORD" label-for="PASSWORD">
        <b-form-input
          id="Password"
          v-model="form.password"
          required
          type="password"
        ></b-form-input>
      </b-form-group>

      <div class="btn">
        <button @click="validateLogin(form)" type="submit" class="btnLogin">
          LOGIN
        </button>
        <button @click="$router.push('register')">REGISTER</button>
      </div>
    </form>
  </div>
</template>
<style>
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px rgb(206, 206, 206);
  border-radius: 5px;
  margin: 50px;
  padding: 50px;
}
label {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  width: 400px;
}
.btn button {
  width: 300px;
  height: 50px;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #ffff;
  background-color: #00a6fb;
  transition: 400ms;
  margin: 10px;
}
.btn button:hover {
  background-color: #06d6a0;
}

.container .btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
  font-weight: bolder;
  letter-spacing: 2px;
  margin-bottom: 50px;
}
</style>

<script>
import axios from "axios";
export default {
  data() {
    return {
      form: {
        name: "",
        password: "",
      },
    };
  },
  methods: {
    validateLogin(form) {
      if (this.form.name != "") {
        axios
          .post("http://localhost:3000/user/login", this.form)
          .then((res) => {
            console.log(res);
            if (res.data != null) {
              console.log("Matched Login!");
              if (res.data.typeuser == "JOB FINDER") {
                window.location.pathname = "/searchjob";
              } else if (res.data.typeuser == "COMPANY") {
                window.location.pathname = "/jobpost";
              }
            }
          })
          .catch((err) => {
            console.log(err);
          });
      }
    },
  },
};
</script>
