<template>
  <div>
    <b-button variant="success" class="float-right" @click="addNewUser()"
      >Add New</b-button
    >

    <b-modal
      id="modal-form-user"
      ref="modal-form-user"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="name"
          label-for="name"
          :invalid-feedback="invalidFeedbackName"
          :valid-feedback="validFeedbackName"
          :state="stateName"
        >
          <b-form-select
            id="name"
            v-model="form.name"
            :options="nameOption"
            required
          ></b-form-select>
        </b-form-group>
        <b-form-group
          label="minSalary"
          label-for="minSalary"
          :invalid-feedback="invalidFeedbackMinSalary"
          :valid-feedback="validFeedbackMinSalary"
          :state="stateMinSalary"
        >
          <b-form-select
            id="minSalary"
            v-model="form.minSalary"
            :options="minOption"
            required
          ></b-form-select>
        </b-form-group>
        <b-form-group
          label="maxSalary"
          label-for="maxSalary"
          :invalid-feedback="invalidFeedbackMaxSalary"
          :valid-feedback="validFeedbackMaxSalary"
          :state="stateMaxSalary"
        >
          <b-form-select
            id="maxSalary"
            v-model="form.maxSalary"
            :options="maxOption"
            required
          ></b-form-select>
        </b-form-group>
      </form>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>

    <b-table striped hover :items="userList" :fields="fields">
      <template #cell(salary)="data">
        {{ data.item.minSalary }} - {{ data.item.maxSalary }}
      </template>
      <template v-slot:cell(operation)="data">
        <b-button @click="editUser(data.item)">Edit</b-button>
        &nbsp;
        <b-button variant="danger" @click="delUser(data.item)">Delete</b-button>
      </template>
    </b-table>
  </div>
</template>

<script>
//position
import positionService from './positionService'
import axios from 'axios'
//import { delete } from 'vue/types/umd'
export default {
  data () {
    return {
      title: 'เพิ่มตำแหน่งงาน',
      form: {
        _id: '',
        name: null,
        minSalary: null,
        maxSalary: null
      },
      nameOption: [
        { text: 'Select One', value: null },
        {
          value: 'คอมพิวเตอร์/IT/โปรแกรมเมอร์',
          text: 'คอมพิวเตอร์/IT/โปรแกรมเมอร์'
        },
        { value: 'กฎหมาย', text: 'กฎหมาย' },
        {
          value: 'เกษตร/จัดสวน/ปศุสัตว์/ประมง/เหมืองแร่',
          text: 'เกษตร/จัดสวน/ปศุสัตว์/ประมง/เหมืองแร่'
        },
        {
          value: 'เขียนแบบ/งานDrawing/AutoCad/ออกแบบวิศวกรรม',
          text: 'เขียนแบบ/งานDrawing/AutoCad/ออกแบบวิศวกรรม'
        },
        { value: 'งานบัญชี', text: 'งานบัญชี' },
        { value: 'งานขนส่ง-คลังสินค้า', text: 'งานขนส่ง-คลังสินค้า' },
        {
          value: 'งานบริการลูกค้า-Call Center',
          text: 'งานบริการลูกค้า-Call Center'
        },
        { value: 'การตลาด', text: 'การตลาด' },
        { value: 'ขาย', text: 'ขาย' },
        { value: 'งานการเงิน-ธนาคาร', text: 'งานการเงิน-ธนาคาร' },
        { value: 'งานนำเข้า-ส่งออก', text: 'งานนำเข้า-ส่งออก' },
        {
          value: 'ผู้จัดการ/ผู้อำนวยการ/MD/CEO',
          text: 'ผู้จัดการ/ผู้อำนวยการ/MD/CEO'
        },
        {
          value: 'แผนกรักษาความปลอดภัย/งานอาคารจอดรถ',
          text: 'แผนกรักษาความปลอดภัย/งานอาคารจอดรถ'
        }
      ],
      minOption: [
        { text: 'Select One', value: null },
        { value: 5000, text: 5000 },
        { value: 10000, text: 10000 },
        { value: 15000, text: 15000 },
        { value: 20000, text: 20000 },
        { value: 25000, text: 25000 },
        { value: 30000, text: 30000 },
        { value: 35000, text: 35000 },
        { value: 40000, text: 40000 },
        { value: 45000, text: 45000 },
        { value: 50000, text: 50000 },
        { value: 55000, text: 55000 },
        { value: 60000, text: 60000 }
      ],
      maxOption: [
        { text: 'Select One', value: null },
        { value: 10000, text: 10000 },
        { value: 15000, text: 15000 },
        { value: 20000, text: 20000 },
        { value: 25000, text: 25000 },
        { value: 30000, text: 30000 },
        { value: 35000, text: 35000 },
        { value: 40000, text: 40000 },
        { value: 45000, text: 45000 },
        { value: 50000, text: 50000 },
        { value: 55000, text: 55000 },
        { value: 60000, text: 60000 }
      ],
      userList: [],
      lastId: 3,
      fields: [
        {
          key: 'id',
          label: 'id'
        },
        'name',
        'salary',
        'operation'
      ]
    }
  },
  methods: {
    addNewUser () {
      console.log('Add new')
      this.$bvModal.show('modal-form-user')
    },
    editUser (user) {
      console.log('edit')
      console.log(user)
      this.title = 'แก้ไขผู้ใช้'
      this.form = { ...user }
      this.$bvModal.show('modal-form-user')
    },
    delUser (user) {
      console.log('del')
      console.log(user)
      this.$bvModal
        .msgBoxConfirm('ท่านต้องการลบ ' + user.name + ' หรือไม่!!!', {
          title: 'กรุณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            // this.deleteUser(user)
            //positionService.deleteUser(user)
            axios
              .delete('http://localhost:3000/position/'+ user._id)
              .then(res => {
                console.log(res)
                this.getUsers()
              })
              .catch(err => {
                console.log(err)
              })
            this.getUsers()
          }
        })
    },
    resetModal () {
      this.form = {
        _id: '',
        name: null,
        minSalary: null,
        maxSalary: null
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // check validate
      if (this.stateName === false || this.stateMinSalary === false) {
        return
      }
      // Do when pass validation
      if (this.form._id != '') {
        // this.updateUser(this.form)
        axios
          .put('http://localhost:3000/position', this.form)
          .then(res => {
            console.log(res)
            this.getUsers()
          })
          .catch(err => {
            console.log(err)
          })
      } else {
        // this.addUser(this.form)
        delete this.form._id
        axios
          .post('http://localhost:3000/position', this.form)
          .then(res => {
            console.log(res)
            this.getUsers()
          })
          .catch(err => {
            console.log(err)
          })
      }

      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-user')
      })
    },

    addUser (user) {
      user._id = this.lastId++
      this.userList.push(user)
    },
    updateUser (user) {
      // หา index ใน userList โดยหาแบบ ไปทีละ item โดยมีเงือนไข item.id === user.id
      const index = this.userList.findIndex(item => item._id === user._id)
      this.userList.splice(index, 1, user)
    },
    deleteUser (user) {
      const index = this.userList.findIndex(item => item._id === user._id)
      this.userList.splice(index, 1)
    },
    getUsers () {
      axios
        .get('http://localhost:3000/position')
        .then(res => {
          console.log(res)
          this.userList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  computed: {
    stateName () {
      return this.form.name != null
    },
    invalidFeedbackName () {
      if (this.form.name != null) {
        return ''
      }
      return 'กรุณาเลือกตำแหน่งงาน'
    },
    validFeedbackName () {
      return this.stateName === true ? 'สำเร็จ' : ''
    },
    stateMinSalary () {
      return this.form.minSalary != null
    },
    invalidFeedbackMinSalary () {
      if (this.form.minSalary != null) {
        return ''
      }
      return 'กรุณาเลือกเงินเดือนเริ่มต้น'
    },
    validFeedbackMinSalary () {
      return this.stateMinSalary === true ? 'สำเร็จ' : ''
    },
    stateMaxSalary () {
      return (
        this.form.minSalary != null &&
        this.form.maxSalary != null &&
        this.form.maxSalary > this.form.minSalary
      )
    },
    invalidFeedbackMaxSalary () {
      if (this.form.minSalary === null) {
        return 'กรุณาเลือกเงินเดือนเริ่มต้น'
      } else if (
        this.form.maxSalary != null &&
        this.form.maxSalary <= this.form.minSalary
      ) {
        return 'เงินเดือนสูงสุดต้องมากกว่าเงินเดือนเริ่มต้น'
      }
      return 'กรุณาเลือกเงินเดือนสูงสุด'
    },
    validFeedbackMaxSalary () {
      return this.stateMaxSalary === true ? 'สำเร็จ' : ''
    }
  },
  mounted () {
    console.log('Vue component is monnted.')
    this.getUsers()
  }
}
</script>
