<template>
  <div style="margin-left:50px">
    <b-button
      v-if="this.profile.length == 0"
      variant="success"
      class="float-right"
      @click="addNewProfile(form)"
      >Add Profile</b-button
    >
    <b-modal
      id="modal-form-Profile"
      ref="modal-form-Profile"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="Name"
          label-for="name"
          :invalid-feedback="invalidFeedbackName"
          :valid-feedback="validFeedbackName"
          :state="stateName"
        >
          <b-form-input
            id="firstname"
            v-model="form.first_name"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="LastName"
          label-for="lastname"
          :invalid-feedback="invalidFeedbackLastName"
          :valid-feedback="validFeedbackLastName"
          :state="stateLastName"
        >
          <b-form-input
            id="lastname"
            v-model="form.last_name"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="Birthday (00/00/2000) (Day/Month/Year)"
          label-for="birthdaydate"
          :invalid-feedback="invalidFeedbackBirthDate"
          :valid-feedback="validFeedbackBirthDate"
          :state="stateBirthDate"
        >
          <b-form-input
            id="birthdaydate"
            v-model="form.birth_date"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="Sex"
          label-for="sex"
          :invalid-feedback="invalidFeedbackSex"
          :valid-feedback="validFeedbackSex"
          :state="stateSex"
        >
          <b-form-select
            id="sex"
            v-model="form.sex"
            :options="sexOption"
            required
          ></b-form-select>
        </b-form-group>

        <b-form-group
          label="Nationality"
          label-for="nationality"
          :invalid-feedback="invalidFeedbackNational"
          :valid-feedback="validFeedbackNational"
          :state="stateNational"
        >
          <b-form-input
            id="nationality"
            v-model="form.nationality"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="Religion"
          label-for="religion"
          :invalid-feedback="invalidFeedbackReligion"
          :valid-feedback="validFeedbackReligion"
          :state="stateReligion"
        >
          <b-form-select
            id="religion"
            v-model="form.religion"
            :options="religionOption"
            required
          ></b-form-select>
        </b-form-group>

        <b-form-group
          label="Address"
          label-for="address"
          :invalid-feedback="invalidFeedbackAddress"
          :valid-feedback="validFeedbackLastName"
          :state="stateAddress"
        >
          <b-form-input
            id="address"
            v-model="form.address"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="Province"
          label-for="province"
          :invalid-feedback="invalidFeedbackProvince"
          :valid-feedback="validFeedbackProvince"
          :state="stateProvince"
        >
          <b-form-input
            id="province"
            v-model="form.province"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="District"
          label-for="district"
          :invalid-feedback="invalidFeedbackDistrict"
          :valid-feedback="validFeedbackDistrict"
          :state="stateDistrict"
        >
          <b-form-input
            id="district"
            v-model="form.district"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="Subdistrict"
          label-for="subdistrict"
          :invalid-feedback="invalidFeedbackSubdistrict"
          :valid-feedback="validFeedbackSubdistrict"
          :state="stateSubdistrict"
        >
          <b-form-input
            id="subdistrict"
            v-model="form.subdistrict"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="Postalnumber"
          label-for="postalnumber"
          :invalid-feedback="invalidFeedbackPostalnumber"
          :valid-feedback="validFeedbackPostalnumber"
          :state="statePostalnumber"
        >
          <b-form-input
            id="postalnumber"
            v-model="form.postalnumber"
            required
          ></b-form-input>
        </b-form-group>
      </form>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>
    <div style="margin-top:20px; width:1200px ; margin-left:auto; margin-right:auto" >
      <b-card-group deck>
        <b-card header-tag="header">
          <template #header>
            <h1 class="mb-0">Profile</h1>
          </template>
          <div class="container">
            <div class="row">
              <div class="col-2">
                <div class="row" > <div class="col-12" style="height:200px; border: 1px solid; margin-top:30px"></div></div>
                <div class="row" style="padding: 10px">
                  <div v-if="this.profile != ''">
                    <b-button @click="editProfile(profile)">Edit</b-button>
                    &nbsp;
                    <b-button variant="danger" @click="delProfile(profile)"
                      >Delete</b-button
                    >
                  </div>
                </div>
              </div>
              <div class="col-5" style="padding-left: 100px">
                <div v-if="this.profile.length != 0">
                  <b-td>
                    ชื่อ-นามสกุล: <br />
                    วันเดินปีเกิด: <br />
                    เพศ: <br />
                    สัญชาติ: <br />
                    ศาสนา: <br />
                    ที่อยู่: <br />
                    ตำบล: <br />
                    อำเภอ: <br />
                    จังหวัด: <br />
                    รหัสไปรษณีย์: <br />
                  </b-td>

                  <b-td style="padding: 25px">
                    {{ profile.first_name }}
                    {{ profile.last_name }}<br />
                    {{ profile.birth_date }}<br />
                    {{ profile.sex }}<br />
                    {{ profile.nationality }}<br />
                    {{ profile.religion }}<br />
                    {{ profile.address }} <br />
                    {{ profile.subdistrict }} <br />
                    {{ profile.district }} <br />
                    {{ profile.province }} <br />
                    {{ profile.postalnumber }}<br />
                  </b-td>
                </div>
              </div>
              <div class="col-4">
                <div v-if="this.profile.length != 0">
                  <b-td>
                    อีเมล:<br />
                    โทรศัพท์: <br />
                  </b-td>
                  <b-td style="padding: 25px">
                    {{ userlogin.email }}<br />
                    {{ userlogin.tel }}<br />
                  </b-td>
                </div>
              </div>
            </div>
          </div>
        </b-card>
      </b-card-group>
    </div>
  </div>
</template>

<script>
import Service from "./ProfileService";
import axios from "axios";
export default {
  data() {
    return {
      userlogin: {},
      title: "เพิ่มโปรไฟล์",
      form: {
        id_user: "",
        first_name: "",
        last_name: "",
        birth_date: "",
        sex: null,
        nationality: "",
        religion: null,
        address: "",
        province: "",
        district: "",
        subdistrict: "",
        postalnumber: ""
      },
      profile: [],
      sexOption: [
        { text: "Select One", value: null },
        { value: "ชาย", text: "ชาย" },
        { value: "หญิง", text: "หญิง" }
      ],
      religionOption: [
        { text: "Select One", value: null },
        { value: "ศาสนาพุทธ", text: "ศาสนาพุทธ" },
        { value: "ศาสนาอิสลาม", text: "ศาสนาอิสลาม" },
        { value: "ศาสนาคริสต์", text: "ศาสนาคริสต์" }
      ]
    };
  },
  methods: {
    editProfile(profile) {
      console.log("edit");
      console.log(profile);
      this.title = "แก้ไขโปรไฟล์";
      this.form = { ...profile };
      this.$bvModal.show("modal-form-Profile");
    },
    delProfile(profile) {
      console.log("del");
      console.log(profile);
      this.$bvModal
        .msgBoxConfirm("ต้องการลบหรือไม่!!!", {
          title: "กรุณายืนยัน",
          size: "sm",
          buttonSize: "sm",
          okVariant: "danger",
          okTitle: "YES",
          cancelTitle: "NO",
          footerClass: "p-2",
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            // Service.deleteProfile(profile);
            // this.Service.getProfile();
            axios
              .delete("http://localhost:3000/profiles")
              .then(res => {
                console.log(res);
                this.profile = res.data;
                this.getProfile();
              })
              .catch(err => {
                console.log(err);
              });
          }
        });
    },
    addNewProfile(form) {
      console.log(form);
      this.$bvModal.show("modal-form-Profile");
    },
    resetModal() {
      this.form = {
        first_name: "",
        last_name: "",
        birth_date: "",
        sex: "",
        nationality: "",
        religion: "",
        address: "",
        province: "",
        district: "",
        subdistrict: "",
        postalnumber: ""
      };
    },
    handleOk(bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault();
      // Trigger submit handler
      this.handleSubmit();
    },
    handleSubmit() {
      // check validate
      if (this.stateName === false) return;
      if (this.stateLastName === false) return;
      if (this.stateBirthDate === false) return;
      if (this.stateNational === false) return;
      if (this.stateAddress === false) return;
      if (this.stateProvince === false) return;
      if (this.stateDistrict === false) return;
      if (this.stateSubdistrict === false) return;
      if (this.statePostalnumber === false) return;
      if (this.stateSex === false) return;
      if (this.stateReligion === false) return;
      // Do when pass validation
      if (this.profile.length != 0) {
        axios
          .put("http://localhost:3000/profiles", this.form)
          .then(res => {
            console.log(res);
            this.profile = res.data;
            this.getProfile();
          })
          .catch(err => {
            console.log(err);
          });

        // Service.updateProfile(this.form);
        // this.Service.getProfile();
      } else {
        axios
          .post("http://localhost:3000/profiles", this.form)
          .then(res => {
            console.log(res);
            this.profile = res.data;
            this.getProfile();
          })
          .catch(err => {
            console.log(err);
          });

        // Service.addProfile(this.form);
        // this.Service.getProfile();
      }

      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide("modal-form-Profile");
      });
    },
    getProfile() {
      // this.profile = Service.getProfile();
      axios
        .get("http://localhost:3000/profiles/" +this.userlogin._id)
        .then(res => {
          console.log(res);
          this.profile = res.data;
        })
        .catch(err => {
          console.log(err);
        });
    },
    getuser() {
      var id = "605195bd7f305705ecaafd56";
      axios
        .get("http://localhost:3000/user/" + id)
        .then(res => {
          this.userlogin = res.data;
          console.log("userlogin");
          console.log(this.userlogin);
          this.form.id_user = this.userlogin._id + "";
          this.getProfile();
        })
        .catch(err => {
          console.log(err);
        });
    }
  },
  computed: {
    stateEmail() {
      // return this.userlogin.email.length >= 2;
    },
    invalidFeedbackEmail() {
      // if (this.userlogin.email.length < 2 && this.userlogin.email.length > 0) {
      //   return "ต้องมีความยาวอย่างน้อย 2 ตัวอักษร";
      // }
      // return "กรุณาใส่ข้อมูล";
    },
    validFeedbackEmail() {
      // return this.stateEmail === true ? "สำเร็จ" : "";
    },
    stateName() {
      return this.form.first_name.length >= 2;
    },
    invalidFeedbackName() {
      if (this.form.first_name.length < 2 && this.form.first_name.length > 0) {
        return "ต้องมีความยาวอย่างน้อย 2 ตัวอักษร";
      }
      return "กรุณาใส่ข้อมูล";
    },
    validFeedbackName() {
      return this.stateName === true ? "สำเร็จ" : "";
    },
    stateLastName() {
      return this.form.last_name.length >= 2;
    },
    invalidFeedbackLastName() {
      if (this.form.last_name.length < 2 && this.form.last_name.length > 0) {
        return "ต้องมีความยาวอย่างน้อย 2 ตัวอักษร";
      }
      return "กรุณาใส่ข้อมูล";
    },
    validFeedbackLastName() {
      return this.stateLastName === true ? "สำเร็จ" : "";
    },
    stateBirthDate() {
      return this.form.birth_date.length >= 9;
    },
    invalidFeedbackBirthDate() {
      if (this.form.birth_date.length < 9 && this.form.birth_date.length > 0) {
        return "ต้องมีความยาวอย่างน้อย 9 ตัวอักษร";
      }
      return "กรุณาใส่ข้อมูล";
    },
    validFeedbackBirthDate() {
      return this.stateBirthDate === true ? "สำเร็จ" : "";
    },
    stateNational() {
      return this.form.nationality.length >= 2;
    },
    invalidFeedbackNational() {
      if (
        this.form.nationality.length < 2 &&
        this.form.nationality.length > 0
      ) {
        return "ต้องมีความยาวอย่างน้อย 2 ตัวอักษร";
      }
      return "กรุณาใส่ข้อมูล";
    },
    validFeedbackNational() {
      return this.stateNational === true ? "สำเร็จ" : "";
    },
    stateAddress() {
      return this.form.address.length >= 2;
    },
    invalidFeedbackAddress() {
      if (this.form.address.length < 2 && this.form.address.length > 0) {
        return "ต้องมีความยาวอย่างน้อย 2 ตัวอักษร";
      }
      return "กรุณาใส่ข้อมูล";
    },
    validFeedbackAddress() {
      return this.stateAddress === true ? "สำเร็จ" : "";
    },
    stateProvince() {
      return this.form.province.length >= 2;
    },
    invalidFeedbackProvince() {
      if (this.form.province.length < 2 && this.form.province.length > 0) {
        return "ต้องมีความยาวอย่างน้อย 2 ตัวอักษร";
      }
      return "กรุณาใส่ข้อมูล";
    },
    validFeedbackProvince() {
      return this.stateProvince === true ? "สำเร็จ" : "";
    },
    stateDistrict() {
      return this.form.district.length >= 2;
    },
    invalidFeedbackDistrict() {
      if (this.form.district.length < 2 && this.form.district.length > 0) {
        return "ต้องมีความยาวอย่างน้อย 2 ตัวอักษร";
      }
      return "กรุณาใส่ข้อมูล";
    },
    validFeedbackDistrict() {
      return this.stateDistrict === true ? "สำเร็จ" : "";
    },
    stateSubdistrict() {
      return this.form.subdistrict.length >= 2;
    },
    invalidFeedbackSubdistrict() {
      if (
        this.form.subdistrict.length < 2 &&
        this.form.subdistrict.length > 0
      ) {
        return "ต้องมีความยาวอย่างน้อย 2 ตัวอักษร";
      }
      return "กรุณาใส่ข้อมูล";
    },
    validFeedbackSubdistrict() {
      return this.stateSubdistrict === true ? "สำเร็จ" : "";
    },
    statePostalnumber() {
      return this.form.postalnumber.length >= 2;
    },
    invalidFeedbackPostalnumber() {
      if (
        this.form.postalnumber.length < 2 &&
        this.form.postalnumber.length > 0
      ) {
        return "ต้องมีความยาวอย่างน้อย 2 ตัวอักษร";
      }
      return "กรุณาใส่ข้อมูล";
    },
    validFeedbackPostalnumber() {
      return this.statePostalnumber === true ? "สำเร็จ" : "";
    },
    stateTel() {
      // return this.userlogin.tel.length >= 10;
    },
    invalidFeedbackTel() {
      // if (this.userlogin.tel.length < 10 && this.form.tel.length > 0) {
      //   return "ต้องมีความยาวอย่างน้อย 10 ตัวอักษร";
      // }
      // return "กรุณาใส่ข้อมูล";
    },
    validFeedbackTel() {
      // return this.stateTel === true ? "สำเร็จ" : "";
    },
    stateSex() {
      return this.form.sex != null;
    },
    invalidFeedbackSex() {
      if (this.form.sex == null) {
        return "กรุณาเลือกเพศ";
      }
      return "กรุณาเลือกเพศ";
    },
    validFeedbackSex() {
      return this.stateSex === true ? "สำเร็จ" : "";
    },
    stateReligion() {
      return this.form.religion != null;
    },
    invalidFeedbackReligion() {
      if (this.form.religion == null) {
        return "กรุณาเลือกศาสนา";
      }
      return "กรุณาเลือกศาสนา";
    },
    validFeedbackReligion() {
      return this.stateReligion === true ? "สำเร็จ" : "";
    }
  },
  mounted() {
    console.log("Vue component is mounted.");
    this.getuser();
  }
};
</script>
