<template>
  <div class="container">
    <form id="modal-form-register">
      <b-form-group
        label="NAME"
        label-for="NAME"
        :invalid-feedback="invalidFeedbackName"
        :valid-feedback="validFeedbackName"
        :state="stateName"
      >
        <b-form-input
          id="name"
          v-model="form.name"
          required
          type="text"
        ></b-form-input>
      </b-form-group>

      <b-form-group
        label="PASSWORD"
        label-for="PASSWORD"
        :invalid-feedback="invalidFeedbackPassword"
        :valid-feedback="validFeedbackPassword"
        :state="statePassword"
      >
        <b-form-input
          id="Password"
          v-model="form.password"
          required
          type="password"
        ></b-form-input>
      </b-form-group>

      <b-form-group
        label="E-MAIL"
        label-for="E-MAIL"
        :invalid-feedback="invalidFeedbackEmail"
        :valid-feedback="validFeedbackEmail"
        :state="stateEmail"
      >
        <b-form-input
          id="Email"
          v-model="form.email"
          required
          type="email"
        ></b-form-input>
      </b-form-group>

      <b-form-group
        label="TEL"
        label-for="TEL"
        :invalid-feedback="invalidFeedbackTel"
        :valid-feedback="validFeedbackTel"
        :state="stateTel"
      >
        <b-form-input
          id="Tel"
          v-model="form.tel"
          required
          type="text"
        ></b-form-input>
      </b-form-group>

      <b-form-group
        label="TYPE"
        label-for="TYPE"
        :invalid-feedback="invalidFeedbackTypeUser"
        :valid-feedback="validFeedbackTypeUser"
        :state="stateTypeUser"
      >
        <b-form-select
          id="typeuser"
          v-model="form.typeuser"
          :options="typeuser"
          required
        ></b-form-select>
      </b-form-group>

      <center>
        <button type="submit" class="btnRegister" @click="addUser(user)">
          REGISTER
        </button>
      </center>
    </form>
  </div>
</template>
<style>
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px rgb(206, 206, 206);
  border-radius: 5px;
  margin: 50px;
  padding: 50px;
}
label {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
}
button.btnRegister {
  width: 300px;
  height: 50px;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #ffff;
  background-color: #00a6fb;
  transition: 400ms;
}
.btnRegister:hover {
  background-color: #06d6a0;
}
</style>

<script>
import axios from "axios";
export default {
  data() {
    return {
      title: "เพิ่มผู้ใช้",
      form: {
        id: -1,
        name: "",
        password: "",
        email: "",
        tel: "",
        typeuser: null,
      },

      typeuser: [
        { value: "JOB FINDER", text: "คนหางาน" },
        { value: "COMPANY", text: "บริษัท" },
      ],
    };
  },
  methods: {
    addUser() {
      axios
        .post("http://localhost:3000/user", this.form)
        .then((res) => {
          console.log(res);
          this.getUsers();
        })
        .catch((err) => {
          console.log(err);
        });
    },
  },
  computed: {
    stateName() {
      return this.form.name.length != 0;
    },
    invalidFeedbackName() {
      return "กรุณาใส่ชื่อ";
    },
    validFeedbackName() {
      return this.stateName === true ? "สำเร็จ" : "";
    },

    statePassword() {
      return this.form.password.length >= 6;
    },
    invalidFeedbackPassword() {
      if (this.form.password.length > 0 && this.form.password.length < 6) {
        return "รหัสผ่านต้องมีความยาวไม่น้อยกว่า 6 ตัว";
      }
      return "กรุณาใส่รหัสผ่าน";
    },
    validFeedbackPassword() {
      return this.statePassword === true ? "สำเร็จ" : "";
    },

    stateEmail() {
      return this.form.email.length != 0;
    },
    invalidFeedbackEmail() {
      return "กรุณาใส่ E-mail";
    },
    validFeedbackEmail() {
      return this.stateEmail === true ? "สำเร็จ" : "";
    },

    stateTel() {
      return this.form.tel.length === 10;
    },
    invalidFeedbackTel() {
      if (this.form.tel.length > 0 && this.form.tel.length < 10) {
        return "กรุณาใส่เบอร์โทรศัพท์ 10 ตัว";
      }
      if (this.form.tel.length > 10) {
        return "เบอร์โทรศัพท์ต้องไม่เกิน 10 ตัว";
      }
      return "กรุณาเบอร์โทรศัพท์";
    },
    validFeedbackTel() {
      return this.stateTel === true ? "สำเร็จ" : "";
    },

    stateTypeUser() {
      return this.form.typeuser != null;
    },
    invalidFeedbackTypeUser() {
      if (this.form.typeuser === null) {
        return "กรุณาเลือกประเภทบุคล";
      }
    },
    validFeedbackTypeUser() {
      return this.stateTypeUser === true ? "สำเร็จ" : "";
    },
  },
};
</script>
