<template>
  <div class="container">
    <div style="margin-top:20px">
      <b-card-group deck>
        <b-card header-tag="header">
          <template #header>
            <b-row>
              <b-col><h1 class="mb-0">Resume</h1></b-col>
              <b-col
                ><b-button
                  v-if="count >= 4"
                  variant="primary"
                  class="float-right"
                  @click="handleSubmit()"
                  >บันทึก Resume</b-button
                ></b-col
              >
            </b-row>
          </template>
          <b-tabs content-class="mt-3" justified>
            <b-tab title-tag="title" active>
              <template #title>
                <p class="head-text">Education</p>
              </template>
              <div class="text-center">
                <b-button
                  v-if="this.resumeTemp.schoolName1.length == 0"
                  variant="primary"
                  class="float-center"
                  @click="addEducation()"
                  >เพิ่มข้อมูล</b-button
                ><b-button
                  v-else
                  variant="primary"
                  class="float-right"
                  @click="editEdu(resumeTemp)"
                  >แก้ไขข้อมูล</b-button
                >

                <b-modal
                  id="modal-form-education"
                  ref="modal-form-education"
                  :title="title"
                  @ok="handleOk"
                >
                  <form ref="form" @submit.stop.prevent="handleOK">
                    <div class="head-text">
                      <strong>1.</strong>
                    </div>
                    <b-form-group
                      label="การศึกษา"
                      label-for="education1"
                      :invalid-feedback="invalidFeedbackEducation1"
                      :valid-feedback="validFeedbackEducation1"
                      :state="stateEducation1"
                    >
                      <b-form-select
                        id="education1"
                        v-model="form.education1"
                        :options="eduOption"
                        required
                      ></b-form-select>
                    </b-form-group>
                    <b-form-group
                      label="ชื่อสถานศึกษา"
                      label-for="schoolName1"
                      :invalid-feedback="invalidFeedbackSchool1"
                      :valid-feedback="validFeedbackSchool1"
                      :state="stateSchool1"
                    >
                      <b-form-input
                        id="schoolName1"
                        v-model="form.schoolName1"
                        required
                      ></b-form-input>
                    </b-form-group>
                    <b-form-group label="คณะ" label-for="faculty1">
                      <b-form-input
                        id="faculty1"
                        v-model="form.faculty1"
                        required
                      ></b-form-input>
                    </b-form-group>
                    <b-form-group label="สาขา" label-for="major1">
                      <b-form-input
                        id="major1"
                        v-model="form.major1"
                        required
                      ></b-form-input>
                    </b-form-group>
                    <b-form-group label="วุฒิการศึกษา" label-for="degree1">
                      <b-form-input
                        id="degree1"
                        v-model="form.degree1"
                        required
                      ></b-form-input>
                    </b-form-group>
                    <b-form-group
                      label="ปีที่สำเร็จการศึกษา"
                      label-for="gradYear1"
                    >
                      <b-form-input
                        id="gradYear1"
                        v-model="form.gradYear1"
                        required
                      ></b-form-input>
                    </b-form-group>
                    <b-form-group
                      label="เกรดเฉลี่ย"
                      label-for="GPA1"
                      :invalid-feedback="invalidFeedbackGPA1"
                      :valid-feedback="validFeedbackGPA1"
                      :state="stateGPA1"
                    >
                      <b-form-input
                        id="GPA1"
                        v-model="form.GPA1"
                        required
                      ></b-form-input>
                    </b-form-group>
                    <hr />
                    <div class="head-text">
                      <strong>2.</strong>
                    </div>
                    <b-form-group label="การศึกษา" label-for="education2">
                      <b-form-select
                        id="education2"
                        v-model="form.education2"
                        :options="eduOption"
                        required
                      ></b-form-select>
                    </b-form-group>
                    <b-form-group label="ชื่อสถานศึกษา" label-for="schoolName2">
                      <b-form-input
                        id="schoolName2"
                        v-model="form.schoolName2"
                        required
                      ></b-form-input>
                    </b-form-group>
                    <b-form-group label="คณะ" label-for="faculty2">
                      <b-form-input
                        id="faculty2"
                        v-model="form.faculty2"
                        required
                      ></b-form-input>
                    </b-form-group>
                    <b-form-group label="สาขา" label-for="major2">
                      <b-form-input
                        id="major2"
                        v-model="form.major2"
                        required
                      ></b-form-input>
                    </b-form-group>
                    <b-form-group label="วุฒิการศึกษา" label-for="degree2">
                      <b-form-input
                        id="degree2"
                        v-model="form.degree2"
                        required
                      ></b-form-input>
                    </b-form-group>
                    <b-form-group
                      label="ปีที่สำเร็จการศึกษา"
                      label-for="gradYear2"
                    >
                      <b-form-input
                        id="gradYear2"
                        v-model="form.gradYear2"
                        required
                      ></b-form-input>
                    </b-form-group>
                    <b-form-group label="เกรดเฉลี่ย" label-for="GPA2">
                      <b-form-input
                        id="GPA2"
                        v-model="form.GPA2"
                        required
                      ></b-form-input>
                    </b-form-group>
                  </form>
                  <b-card class="mt-3" header="Form Data Result">
                    <pre class="m-0">{{ form }}</pre>
                  </b-card>
                </b-modal>
              </div>
              <br />
              <br />
              <div>
                <div
                  class="head-text"
                  v-if="this.resumeTemp.schoolName1.length > 0"
                >
                  <b-td>
                    ระดับการศึกษา: <br />
                    ชื่อสถานศึกษา:<br />
                    คณะ: <br />
                    สาขา: <br />
                    วุฒิการศึกษา: <br />
                    ปีที่สำเร็จการศึกษา: <br />
                    เกรดเฉลี่ย: <br />
                  </b-td>
                  <b-td style="padding: 25px">
                    {{ resumeTemp.education1 }} <br />
                    {{ resumeTemp.schoolName1 }}<br />
                    {{ resumeTemp.faculty1 }}<br />
                    {{ resumeTemp.major1 }}<br />
                    {{ resumeTemp.degree1 }}<br />
                    {{ resumeTemp.gradYear1 }}<br />
                    {{ resumeTemp.GPA1 }} <br />
                  </b-td>
                </div>
                <div
                  class="head-text"
                  v-if="this.resumeTemp.schoolName2.length > 0"
                >
                  <hr />
                  <b-td>
                    ระดับการศึกษา: <br />
                    ชื่อสถานศึกษา:<br />
                    คณะ: <br />
                    สาขา: <br />
                    วุฒิการศึกษา: <br />
                    ปีที่สำเร็จการศึกษา: <br />
                    เกรดเฉลี่ย: <br />
                  </b-td>
                  <b-td style="padding: 25px">
                    {{ resumeTemp.education2 }} <br />
                    {{ resumeTemp.schoolName2 }}<br />
                    {{ resumeTemp.faculty2 }}<br />
                    {{ resumeTemp.major2 }}<br />
                    {{ resumeTemp.degree2 }}<br />
                    {{ resumeTemp.gradYear2 }}<br />
                    {{ resumeTemp.GPA2 }} <br />
                  </b-td>
                </div>
              </div>
            </b-tab>
            <b-tab title-tag="title">
              <template #title>
                <p class="head-text">Working Experience</p>
              </template>
              <div class="text-center">
                <b-button
                  v-if="this.resumeTemp.company1.length == 0"
                  variant="primary"
                  class="float-center"
                  @click="addWorkEx()"
                  >เพิ่มข้อมูล</b-button
                ><b-button
                  v-else
                  variant="primary"
                  class="float-right"
                  @click="editWorkEx(resumeTemp)"
                  >แก้ไขข้อมูล</b-button
                >
                <b-modal
                  id="modal-form-workEx"
                  ref="modal-form-workEx"
                  :title="title"
                  @ok="handleOk"
                >
                  <form ref="form" @submit.stop.prevent="handleOK">
                    <div class="head-text">
                      <strong>1.</strong>
                    </div>
                    <b-form-group
                      label="บริษัท"
                      label-for="company1"
                      :invalid-feedback="invalidFeedbackCompany1"
                      :valid-feedback="validFeedbackCompany1"
                      :state="stateCompany1"
                    >
                      <b-form-input
                        id="company1"
                        v-model="form.company1"
                        required
                      ></b-form-input>
                    </b-form-group>
                    <b-form-group
                      label="ที่อยู่-ติดต่อ"
                      label-for="compAddress1"
                      :invalid-feedback="invalidFeedbackCompAdd1"
                      :valid-feedback="validFeedbackCompAdd1"
                      :state="stateCompAdd1"
                    >
                      <b-form-textarea
                        id="compAddress1"
                        v-model="form.compAddress1"
                        placeholder="Enter something..."
                        rows="2"
                        max-rows="2"
                      ></b-form-textarea>
                    </b-form-group>
                    <b-form-group
                      label="ตำแหน่ง"
                      label-for="position1"
                      :invalid-feedback="invalidFeedbackPosition1"
                      :valid-feedback="validFeedbackPosition1"
                      :state="statePosition1"
                    >
                      <b-form-input
                        id="position1"
                        v-model="form.position1"
                        required
                      ></b-form-input>
                    </b-form-group>
                    <b-form-group label="เงินเดือน" label-for="salary1">
                      <b-form-input
                        id="salary1"
                        v-model="form.salary1"
                        required
                      ></b-form-input>
                    </b-form-group>
                    <b-form-group
                      label="ประเภทงานเพื่อการค้นหา"
                      label-for="jobType1"
                    >
                      <b-form-select
                        id="jobType1"
                        v-model="form.jobType1"
                        :options="jobTypeOption"
                        required
                      ></b-form-select>
                    </b-form-group>
                    <b-form-group label="หน้าที่และผลงาน:" label-for="jobDuty1">
                      <b-form-textarea
                        id="jobDuty1"
                        v-model="form.jobDuty1"
                        placeholder="Enter something..."
                        rows="3"
                        max-rows="3"
                      ></b-form-textarea>
                    </b-form-group>
                    <hr />
                    <div class="head-text">
                      <strong>2.</strong>
                    </div>
                    <b-form-group label="บริษัท" label-for="company2">
                      <b-form-input
                        id="company2"
                        v-model="form.company2"
                        required
                      ></b-form-input>
                    </b-form-group>
                    <b-form-group
                      label="ที่อยู่-ติดต่อ"
                      label-for="compAddress2"
                    >
                      <b-form-textarea
                        id="compAddress2"
                        v-model="form.compAddress2"
                        placeholder="Enter something..."
                        rows="2"
                        max-rows="2"
                      ></b-form-textarea>
                    </b-form-group>
                    <b-form-group label="ตำแหน่ง" label-for="position2">
                      <b-form-input
                        id="position2"
                        v-model="form.position2"
                        required
                      ></b-form-input>
                    </b-form-group>
                    <b-form-group label="เงินเดือน" label-for="salary2">
                      <b-form-input
                        id="salary2"
                        v-model="form.salary2"
                        required
                      ></b-form-input>
                    </b-form-group>
                    <b-form-group
                      label="ประเภทงานเพื่อการค้นหา"
                      label-for="jobType2"
                    >
                      <b-form-select
                        id="jobType2"
                        v-model="form.jobType2"
                        :options="jobTypeOption"
                        required
                      ></b-form-select>
                    </b-form-group>
                    <b-form-group label="หน้าที่และผลงาน:" label-for="jobDuty2">
                      <b-form-textarea
                        id="jobDuty2"
                        v-model="form.jobDuty2"
                        placeholder="Enter something..."
                        rows="3"
                        max-rows="3"
                      ></b-form-textarea>
                    </b-form-group>
                  </form>
                  <b-card class="mt-3" header="Form Data Result">
                    <pre class="m-0">{{ form }}</pre>
                  </b-card>
                </b-modal>
              </div>
              <br />
              <br />
              <div>
                <div
                  class="head-text"
                  v-if="this.resumeTemp.company1.length > 0"
                >
                  <b-row>
                    <b-col cols="3">บริษัท:</b-col>
                    <b-col cols="9">{{ resumeTemp.company1 }}</b-col>
                  </b-row>
                  <b-row>
                    <b-col cols="3">ที่อยู่-ติดต่อ:</b-col>
                    <b-col cols="9">{{ resumeTemp.compAddress1 }}</b-col>
                  </b-row>
                  <b-row>
                    <b-col cols="3">ตำแหน่ง:</b-col>
                    <b-col cols="9">{{ resumeTemp.position1 }}</b-col>
                  </b-row>
                  <b-row>
                    <b-col cols="3">เงินเดือน:</b-col>
                    <b-col cols="9">{{ resumeTemp.salary1 }}</b-col>
                  </b-row>
                  <b-row>
                    <b-col cols="3">ประเภทงานเพื่อการค้นหา:</b-col>
                    <b-col cols="9">{{ resumeTemp.jobType1 }}</b-col>
                  </b-row>
                  <b-row>
                    <b-col cols="3">หน้าที่และผลงาน:</b-col>
                    <b-col cols="9">{{ resumeTemp.jobDuty1 }}</b-col>
                  </b-row>
                </div>
                <div
                  class="head-text"
                  v-if="this.resumeTemp.company2.length > 0"
                >
                  <hr />
                  <b-row>
                    <b-col cols="3">บริษัท:</b-col>
                    <b-col cols="9">{{ resumeTemp.company2 }}</b-col>
                  </b-row>
                  <b-row>
                    <b-col cols="3">ที่อยู่-ติดต่อ:</b-col>
                    <b-col cols="9">{{ resumeTemp.compAddress2 }}</b-col>
                  </b-row>
                  <b-row>
                    <b-col cols="3">ตำแหน่ง:</b-col>
                    <b-col cols="9">{{ resumeTemp.position2 }}</b-col>
                  </b-row>
                  <b-row>
                    <b-col cols="3">เงินเดือน:</b-col>
                    <b-col cols="9">{{ resumeTemp.salary2 }}</b-col>
                  </b-row>
                  <b-row>
                    <b-col cols="3">ประเภทงานเพื่อการค้นหา:</b-col>
                    <b-col cols="9">{{ resumeTemp.jobType2 }}</b-col>
                  </b-row>
                  <b-row>
                    <b-col cols="3">หน้าที่และผลงาน:</b-col>
                    <b-col cols="9">{{ resumeTemp.jobDuty2 }}</b-col>
                  </b-row>
                </div>
              </div>
            </b-tab>
            <b-tab title-tag="title">
              <template #title>
                <p class="head-text">Certificate</p>
              </template>
              <div class="text-center">
                <b-button
                  v-if="this.resumeTemp.course1.length == 0"
                  variant="primary"
                  class="float-center"
                  @click="addCertify()"
                  >เพิ่มข้อมูล</b-button
                ><b-button
                  v-else
                  variant="primary"
                  class="float-right"
                  @click="editCertify(resumeTemp)"
                  >แก้ไขข้อมูล</b-button
                >
                <b-modal
                  id="modal-form-certify"
                  ref="modal-form-certify"
                  :title="title"
                  @ok="handleOk"
                >
                  <form ref="form" @submit.stop.prevent="handleOK">
                    <div class="head-text">
                      <strong>1.</strong>
                    </div>
                    <b-form-group
                      label="สถาบัน/หน่วยงาน/บริษัท"
                      label-for="IOC1"
                      :invalid-feedback="invalidFeedbackIOC1"
                      :valid-feedback="validFeedbackIOC1"
                      :state="stateIOC1"
                    >
                      <b-form-input
                        id="IOC1"
                        v-model="form.IOC1"
                        required
                      ></b-form-input>
                    </b-form-group>
                    <b-form-group
                      label="หลักสูตร"
                      label-for="course1"
                      :invalid-feedback="invalidFeedbackCourse1"
                      :valid-feedback="validFeedbackCourse1"
                      :state="stateCourse1"
                    >
                      <b-form-input
                        id="course1"
                        v-model="form.course1"
                        required
                      ></b-form-input>
                    </b-form-group>
                    <b-form-group
                      label="ประกาศนียบัตร/วุฒิบัตร(ถ้ามี)"
                      label-for="certify1"
                    >
                      <b-form-input
                        id="certify1"
                        v-model="form.certify1"
                        required
                      ></b-form-input>
                    </b-form-group>
                    <hr />
                    <div class="head-text">
                      <strong>2.</strong>
                    </div>
                    <b-form-group
                      label="สถาบัน/หน่วยงาน/บริษัท"
                      label-for="IOC2"
                    >
                      <b-form-input
                        id="IOC2"
                        v-model="form.IOC2"
                        required
                      ></b-form-input>
                    </b-form-group>
                    <b-form-group label="หลักสูตร" label-for="course2">
                      <b-form-input
                        id="course2"
                        v-model="form.course2"
                        required
                      ></b-form-input>
                    </b-form-group>
                    <b-form-group
                      label="ประกาศนียบัตร/วุฒิบัตร(ถ้ามี)"
                      label-for="certify2"
                    >
                      <b-form-input
                        id="certify2"
                        v-model="form.certify2"
                        required
                      ></b-form-input>
                    </b-form-group>
                  </form>
                  <b-card class="mt-3" header="Form Data Result">
                    <pre class="m-0">{{ form }}</pre>
                  </b-card>
                </b-modal>
              </div>
              <br />
              <br />
              <div>
                <div
                  class="head-text"
                  v-if="this.resumeTemp.course1.length > 0"
                >
                  <b-td>
                    สถาบัน/หน่วยงาน/บริษัท: <br />
                    หลักสูตร:<br />
                    ประกาศนียบัตร/วุฒิบัตร(ถ้ามี): <br />
                  </b-td>
                  <b-td style="padding: 25px">
                    {{ resumeTemp.IOC1 }} <br />
                    {{ resumeTemp.course1 }}<br />
                    {{ resumeTemp.certify1 }}<br />
                  </b-td>
                </div>
                <div
                  class="head-text"
                  v-if="this.resumeTemp.course2.length > 0"
                >
                  <hr />
                  <b-td>
                    สถาบัน/หน่วยงาน/บริษัท: <br />
                    หลักสูตร:<br />
                    ประกาศนียบัตร/วุฒิบัตร(ถ้ามี): <br />
                  </b-td>
                  <b-td style="padding: 25px">
                    {{ resumeTemp.IOC2 }} <br />
                    {{ resumeTemp.course2 }}<br />
                    {{ resumeTemp.certify2 }}<br />
                  </b-td>
                </div>
              </div>
            </b-tab>
            <b-tab title-tag="title">
              <template #title>
                <p class="head-text">Skills</p>
              </template>
              <div class="text-center">
                <b-button
                  v-if="this.resumeTemp.language.length == 0"
                  variant="primary"
                  class="float-center"
                  @click="addSkills()"
                  >เพิ่มข้อมูล</b-button
                ><b-button
                  v-else
                  variant="primary"
                  class="float-right"
                  @click="editSkills(resumeTemp)"
                  >แก้ไขข้อมูล</b-button
                >
                <b-modal
                  id="modal-form-skills"
                  ref="modal-form-skills"
                  :title="title"
                  @ok="handleOk"
                >
                  <form ref="form" @submit.stop.prevent="handleOK">
                    <b-form-group
                      label="ความสามารถทางภาษา"
                      label-for="language"
                      :invalid-feedback="invalidFeedbackLanguage"
                      :valid-feedback="validFeedbackLanguage"
                      :state="stateLanguage"
                    >
                      <b-form-input
                        id="language"
                        v-model="form.language"
                        required
                      ></b-form-input>
                    </b-form-group>
                    <b-form-group
                      label="ความสามารถในการขับขี่"
                      label-for="driving"
                    >
                      <b-form-input
                        id="drivng"
                        v-model="form.driving"
                        required
                      ></b-form-input>
                    </b-form-group>
                    <b-form-group label="พาหนะส่วนตัว" label-for="ownVehicle">
                      <b-form-input
                        id="ownVehicle"
                        v-model="form.ownVehicle"
                        required
                      ></b-form-input>
                    </b-form-group>
                    <b-form-group label="ความสามารถพิเศษ" label-for="special">
                      <b-form-textarea
                        id="special"
                        v-model="form.special"
                        placeholder="Enter something..."
                        rows="3"
                        max-rows="3"
                      ></b-form-textarea>
                    </b-form-group>
                    <b-form-group
                      label="ผลงาน เกียรติประวัติ อื่นๆ"
                      label-for="other"
                    >
                      <b-form-textarea
                        id="other"
                        v-model="form.other"
                        placeholder="Enter something..."
                        rows="3"
                        max-rows="3"
                      ></b-form-textarea>
                    </b-form-group>
                  </form>
                  <b-card class="mt-3" header="Form Data Result">
                    <pre class="m-0">{{ form }}</pre>
                  </b-card>
                </b-modal>
              </div>
              <br />
              <br />
              <div class="head-text">
                <b-row v-if="this.resumeTemp.language.length != 0">
                  <b-col cols="3">ความสามารถทางภาษา:</b-col>
                  <b-col cols="9">{{ resumeTemp.language }}</b-col>
                </b-row>
                <b-row v-if="this.resumeTemp.driving.length != 0">
                  <b-col cols="3">ความสามารถในการขับขี่:</b-col>
                  <b-col cols="9">{{ resumeTemp.driving }}</b-col>
                </b-row>
                <b-row v-if="this.resumeTemp.ownVehicle.length != 0">
                  <b-col cols="3">พาหนะส่วนตัว:</b-col>
                  <b-col cols="9">{{ resumeTemp.ownVehicle }}</b-col>
                </b-row>
                <b-row v-if="this.resumeTemp.special.length != 0">
                  <b-col cols="3">ความสามารถพิเศษ:</b-col>
                  <b-col cols="9">{{ resumeTemp.special }}</b-col>
                </b-row>
                <b-row v-if="this.resumeTemp.other.length != 0">
                  <b-col cols="3">ผลงาน เกียรติประวัติ อื่นๆ:</b-col>
                  <b-col cols="9">{{ resumeTemp.other }}</b-col>
                </b-row>
              </div>
            </b-tab>
          </b-tabs>
        </b-card>
      </b-card-group>
    </div>
  </div>
</template>
<style>
.head-text {
  font-size: 18px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.head-text p {
  font-size: 18px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
</style>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      count: 0,
      title: 'เพิ่มข้อมูล',
      form: {
        _id: -1,
        id_user: '',
        education1: null,
        schoolName1: '',
        faculty1: '',
        major1: '',
        degree1: '',
        gradYear1: null,
        GPA1: null,
        education2: null,
        schoolName2: '',
        faculty2: '',
        major2: '',
        degree2: '',
        gradYear2: null,
        GPA2: null,
        company1: '',
        compAddress1: '',
        position1: '',
        jobType1: null,
        salary1: '',
        jobDuty1: '',
        company2: '',
        compAddress2: '',
        position2: '',
        jobType2: null,
        salary2: '',
        jobDuty2: '',
        IOC1: '',
        course1: '',
        certify1: '',
        IOC2: '',
        course2: '',
        certify2: '',
        language: '',
        driving: '',
        ownVehicle: '',
        special: '',
        other: ''
      },
      eduOption: [
        { text: 'Select One', value: null },
        'ปริญญาเอก',
        'ปริญญาโท',
        'ปริญญาตรี',
        'อนุปริญญา',
        'ปวส.',
        'ปวท.',
        'ปวช.',
        'มัธยมศึกษาตอนปลาย',
        'มัธยมศึกษาตอนต้น',
        'ต่ำกว่ามัธยมศึกษา'
      ],
      jobTypeOption: [
        { text: 'Select One', value: null },
        'คอมพิวเตอร์/IT/โปรแกรมเมอร์',
        'กฎหมาย',
        'เกษตร/จัดสวน/ปศุสัตว์/ประมง/เหมืองแร่',
        'เขียนแบบ/งานDrawing/AutoCad/ออกแบบวิศวกรรม',
        'งานบัญชี',
        'งานขนส่ง-คลังสินค้า',
        'งานบริการลูกค้า-Call Center',
        'การตลาด',
        'ขาย',
        'งานการเงิน-ธนาคาร',
        'งานนำเข้า-ส่งออก',
        'ผู้จัดการ/ผู้อำนวยการ/MD/CEO',
        'แผนกรักษาความปลอดภัย/งานอาคารจอดรถ'
      ],
      resumeTemp: {
        education1: '',
        schoolName1: '',
        faculty1: '',
        major1: '',
        degree1: '',
        gradYear1: null,
        GPA1: null,
        education2: '',
        schoolName2: '',
        faculty2: '',
        major2: '',
        degree2: '',
        gradYear2: null,
        GPA2: null,

        company1: '',
        compAddress1: '',
        position1: '',
        jobType1: '',
        salary1: '',
        jobDuty1: '',
        company2: '',
        compAddress2: '',
        position2: '',
        jobType2: '',
        salary2: '',
        jobDuty2: '',

        IOC1: '',
        course1: '',
        certify1: '',
        IOC2: '',
        course2: '',
        certify2: '',

        language: '',
        driving: '',
        ownVehicle: '',
        special: '',
        other: ''
      },
      resume: []
    }
  },
  created () {
    this.resumeTemp.user_id = '602bbce9fa5ffd26c499652e'
  },
  methods: {
    addEducation () {
      console.log('Add new')
      this.$bvModal.show('modal-form-education')
    },
    addWorkEx () {
      console.log('Add new')
      this.$bvModal.show('modal-form-workEx')
    },
    addCertify () {
      console.log('Add new')
      this.$bvModal.show('modal-form-certify')
    },
    addSkills () {
      console.log('Add new')
      this.$bvModal.show('modal-form-skills')
    },
    editEdu (edu) {
      console.log('edit')
      console.log(edu)
      this.title = 'แก้ไขโพสต์'
      this.form = { ...edu }
      this.$bvModal.show('modal-form-education')
    },
    editWorkEx (ex) {
      console.log('edit')
      console.log(ex)
      this.title = 'แก้ไขโพสต์'
      this.form = { ...ex }
      this.$bvModal.show('modal-form-workEx')
    },
    editCertify (cer) {
      console.log('edit')
      console.log(cer)
      this.title = 'แก้ไขโพสต์'
      this.form = { ...cer }
      this.$bvModal.show('modal-form-certify')
    },
    editSkills (skill) {
      console.log('edit')
      console.log(skill)
      this.title = 'แก้ไขโพสต์'
      this.form = { ...skill }
      this.$bvModal.show('modal-form-skills')
    },
    resetModal () {
      this.form = {
        id_user: '',
        education1: null,
        schoolName1: '',
        faculty1: '',
        major1: '',
        degree1: '',
        gradYear1: null,
        GPA1: null,
        education2: null,
        schoolName2: '',
        faculty2: '',
        major2: '',
        degree2: '',
        gradYear2: null,
        GPA2: null,
        company1: '',
        compAddress1: '',
        position1: '',
        jobType1: null,
        salary1: '',
        jobDuty1: '',
        company2: '',
        compAddress2: '',
        position2: '',
        jobType2: null,
        salary2: '',
        jobDuty2: '',
        IOC1: '',
        course1: '',
        certify1: '',
        IOC2: '',
        course2: '',
        certify2: '',
        language: '',
        driving: '',
        ownVehicle: '',
        special: '',
        other: ''
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      console.log(this.form)
      if (
        bvModalEvt.componentId == 'modal-form-education' &&
        this.stateSchool1 != false &&
        this.stateEducation1 != false &&
        this.stateGPA1 != false
      ) {
        this.resumeTemp.education1 = this.form.education1
        this.resumeTemp.schoolName1 = this.form.schoolName1
        this.resumeTemp.faculty1 = this.form.faculty1
        this.resumeTemp.major1 = this.form.major1
        this.resumeTemp.degree1 = this.form.degree1
        this.resumeTemp.gradYear1 = this.form.gradYear1
        this.resumeTemp.GPA1 = this.form.GPA1
        this.resumeTemp.education2 = this.form.education2
        this.resumeTemp.schoolName2 = this.form.schoolName2
        this.resumeTemp.faculty2 = this.form.faculty2
        this.resumeTemp.major2 = this.form.major2
        this.resumeTemp.degree2 = this.form.degree2
        this.resumeTemp.gradYear2 = this.form.gradYear2
        this.resumeTemp.GPA2 = this.form.GPA2
        if (this.form._id != -1) {
          this.handleSubmit()
        } else {
          this.count++
        }
        this.$nextTick(() => {
          this.$bvModal.hide('modal-form-education')
        })
      } else if (
        bvModalEvt.componentId == 'modal-form-workEx' &&
        this.stateCompAdd1 != false &&
        this.stateCompany1 != false &&
        this.statePosition1 != false
      ) {
        this.resumeTemp.company1 = this.form.company1
        this.resumeTemp.company2 = this.form.company2
        this.resumeTemp.compAddress1 = this.form.compAddress1
        this.resumeTemp.compAddress2 = this.form.compAddress2
        this.resumeTemp.position1 = this.form.position1
        this.resumeTemp.position2 = this.form.position2
        this.resumeTemp.jobType1 = this.form.jobType1
        this.resumeTemp.jobType2 = this.form.jobType2
        this.resumeTemp.salary1 = this.form.salary1
        this.resumeTemp.salary2 = this.form.salary2
        this.resumeTemp.jobDuty1 = this.form.jobDuty1
        this.resumeTemp.jobDuty2 = this.form.jobDuty2
        if (this.form._id != -1) {
          this.handleSubmit()
        } else {
          this.count++
        }
        this.$nextTick(() => {
          this.$bvModal.hide('modal-form-workEx')
        })
      } else if (
        bvModalEvt.componentId == 'modal-form-certify' &&
        this.stateCourse1 != false &&
        this.stateIOC1 != false
      ) {
        this.resumeTemp.IOC1 = this.form.IOC1
        this.resumeTemp.IOC2 = this.form.IOC2
        this.resumeTemp.course1 = this.form.course1
        this.resumeTemp.course2 = this.form.course2
        this.resumeTemp.certify1 = this.form.certify1
        this.resumeTemp.certify2 = this.form.certify2
        if (this.form._id != -1) {
          this.handleSubmit()
        } else {
          this.count++
        }
        this.$nextTick(() => {
          this.$bvModal.hide('modal-form-certify')
        })
      } else if (bvModalEvt.componentId == 'modal-form-skills' && this.stateLanguage != false) {
        this.resumeTemp.driving = this.form.driving
        this.resumeTemp.language = this.form.language
        this.resumeTemp.ownVehicle = this.form.ownVehicle
        this.resumeTemp.special = this.form.special
        this.resumeTemp.other = this.form.other
        if (this.form._id != -1) {
          this.handleSubmit()
        } else {
          this.count++
        }
        this.$nextTick(() => {
          this.$bvModal.hide('modal-form-skills')
        })
      }
    },
    handleSubmit () {
      if (this.form._id != '-1') {
        axios
          .put('http://localhost:3000/resume', this.form)
          .then(res => {
            console.log(res)
            this.getResume()
          })
          .catch(err => {
            console.log(err)
          })
      } else {
        delete this.form._id
        console.log(this.form)
        axios
          .post('http://localhost:3000/resume', this.form)
          .then(res => {
            console.log(res)
            this.getResume()
          })
          .catch(err => {
            console.log(err)
          })
        this.count = 0
        this.resetModal()
      }
    },
    getResume () {
      axios
        .get('http://localhost:3000/resume/' + this.userlogin._id)
        .then(res => {
          console.log(res)
          if (res.data != null) this.resumeTemp = res.data
          console.log(this.resumeTemp)
        })
        .catch(err => {
          console.log(err)
        })
    },
    getUser () {
      var id = '6033bc89a0e1832a7c967dd4'
      axios
        .get('http://localhost:3000/user/' + id)
        .then(res => {
          this.userlogin = res.data
          console.log('userlogin')
          console.log(this.userlogin)
          this.form.id_user = this.userlogin._id + ''
          this.getResume()
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  computed: {
    stateSchool1 () {
      return this.form.schoolName1 != ''
    },
    invalidFeedbackSchool1 () {
      if (this.schoolName1 == '') {
        return 'กรุณาใส่ข้อมูล'
      }
      return 'กรุณาใส่ข้อมูล'
    },
    validFeedbackSchool1 () {
      return this.stateSchool1 === true ? '' : ''
    },
    stateEducation1 () {
      return this.form.education1 != null
    },
    invalidFeedbackEducation1 () {
      if (this.form.education1 == null) {
        return 'กรุณาเลือกข้อมูล'
      }
      return 'กรุณาเลือกข้อมูล'
    },
    validFeedbackEducation1 () {
      return this.stateEducation1 === true ? '' : ''
    },
    stateGPA1 () {
      return this.form.GPA1 != null
    },
    invalidFeedbackGPA1 () {
      if (this.form.GPA1 == null) {
        return 'กรุณาใส่ข้อมูล'
      }
      return 'กรุณาใส่ข้อมูล'
    },
    validFeedbackGPA1 () {
      return this.stateGPA1 === true ? '' : ''
    },
    stateCompany1 () {
      return this.form.company1 != ''
    },
    invalidFeedbackCompany1 () {
      if (this.form.company1 == '') {
        return 'กรุณาใส่ข้อมูล'
      }
      return 'กรุณาใส่ข้อมูล'
    },
    validFeedbackCompany1 () {
      return this.stateCompany1 === true ? '' : ''
    },
    statePosition1 () {
      return this.form.position1 != ''
    },
    invalidFeedbackPosition1 () {
      if (this.form.position1 == '') {
        return 'กรุณาใส่ข้อมูล'
      }
      return 'กรุณาใส่ข้อมูล'
    },
    validFeedbackPosition1 () {
      return this.statePosition1 === true ? '' : ''
    },
    stateCompAdd1 () {
      return this.form.compAddress1 != ''
    },
    invalidFeedbackCompAdd1 () {
      if (this.form.compAddress1 == '') {
        return 'กรุณาใส่ข้อมูล'
      }
      return 'กรุณาใส่ข้อมูล'
    },
    validFeedbackCompAdd1 () {
      return this.stateCompAdd1 === true ? '' : ''
    },
    stateCourse1 () {
      if (this.form.IOC1 != '') return this.form.course1 != ''
      return this.form.course1 == ''
    },
    invalidFeedbackCourse1 () {
      if (this.form.course1 == '') {
        return 'กรุณาใส่ข้อมูล'
      }
      //return 'กรุณาใส่ข้อมูล'
    },
    validFeedbackCourse1 () {
      return this.stateCourse1 === true ? '' : ''
    },
    stateIOC1 () {
      if (this.form.IOC1.length > 0) return this.form.IOC1.length > 0
      else if (this.form.course1 != '') return this.form.IOC1.length > 0
      return this.form.IOC1.length == 0
    },
    invalidFeedbackIOC1 () {
      if (this.form.compAddress1 == '') {
        return 'กรุณาใส่ข้อมูล'
      }
      return 'กรุณาใส่ข้อมูล'
    },
    validFeedbackIOC1 () {
      return this.stateIOC1 === true ? '' : ''
    },
    stateLanguage () {
      return this.form.language.length != ''
    },
    invalidFeedbackLanguage () {
      // if (this.form.compAddress1 == '') {
      //   return 'กรุณาใส่ข้อมูล'
      // }
      return 'กรุณาใส่ข้อมูล'
    },
    validFeedbackLanguage () {
      return this.stateLanguage === true ? '' : ''
    }
  },
  mounted () {
    console.log('Vue component is mounted.')
    this.getUser()
  }
}
</script>
