<template>
  <div>
    <div class="container part1">
      <form>
        <b-form-group
          label="POSITION OR COMPANY"
          label-for="POSITION OR COMPANY"
        >
          <b-form-input
            id="positionCompany"
            v-model="form.positionCompany"
            type="text"
          ></b-form-input>
        </b-form-group>

        <b-form-group label="POSITION" label-for="POSITION">
          <b-form-select
            id="position"
            v-model="form.position"
            :options="positionOption"
          ></b-form-select>
        </b-form-group>

        <b-form-group label="ADDRESS" label-for="ADDRESS">
          <b-form-input
            id="address"
            v-model="form.address"
            type="text"
          ></b-form-input>
        </b-form-group>

        <b-form-group label="MINSALARY" label-for="MINSALARY">
          <b-form-select
            id="minSalary"
            v-model="form.minSalary"
            :options="minOption"
          ></b-form-select>
        </b-form-group>

        <b-form-group label="MAXSALARY" label-for="MAXSALARY">
          <b-form-select
            id="maxSalary"
            v-model="form.maxSalary"
            :options="maxOption"
          ></b-form-select>
        </b-form-group>
        <b-button class="btnSearch" @click="searchjob(form)"
          >SEARCHJOB</b-button
        >
      </form>
    </div>
    <div v-if="this.jobsearch.length != 0">
      <div
        class="container part2"
        v-for="(jobsearchs, index) in jobsearch"
        :key="index"
      >
        <div class="container">
          <div class="row">
            <div class="col-2"></div>
            <div class="col-7">
              ชื่อบริษัท : {{ jobsearchs.company_name }}<br />
              ประเภทงาน : {{ jobsearchs.jobType }} <br />
              ตำแหน่งงาน : {{ jobsearchs.position }} <br />
              ที่อยู่ : {{ jobsearchs.address }} <br />
              เงินเดือน : {{ jobsearchs.minSalary }} -
              {{ jobsearchs.maxSalary }} บาท<br />
              อัตรารับ : {{ jobsearchs.amount }}<br />
              วันที่ในการเปิดรับสมัคร : {{ jobsearchs.open }}<br />
            </div>
            <div class="col-3">
              <b-button
                class="btncard1"
                @click="addtowishlist(jobsearchs._id)"
                variant="primary"
              >
                <b-icon icon="cart3" class="icon"></b-icon>WISHLIST
              </b-button>
              <br />
              <b-button class="btncard1" @click="showDetail(jobsearchs._id)">
                <b-icon icon="tv" class="icon"></b-icon>
                DETAIL
              </b-button>
              <br />
              <b-button
                class="btncard1"
                @click="appliedjob(jobsearchs._id)"
                variant="success"
              >
                <b-icon icon="card-text" class="icon"></b-icon>APPLIED JOB
              </b-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style>
.part1 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px rgb(206, 206, 206);
  border-radius: 5px;
  margin-top: 20px;
  padding: 30px;
}

.part2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px rgb(206, 206, 206);
  border-radius: 5px;
  margin-top: 20px;
  padding: 30px;
}

button.btncard1 {
  margin: 5px;
  width: 170px;
  height: 40px;
  border-radius: 3px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #ffff;
}
.btncard1:hover {
  transition: 250ms;
}

button.btnSearch {
  width: 250px;
  height: 45px;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #ffff;
  background-color: #00a6fb;
}
</style>

<script>
import axios from "axios";
export default {
  data() {
    return {
      keys: 1,
      form: {
        positionCompany: "",
        jobType: null,
        address: "",
        minSalary: null,
        maxSalary: null
      },
      jobsearch: [
        // {
        //   positionCompany: "Ohmy",
        //   jobType: "การเงิน",
        //   position: "บัญชี",
        //   address: "กรุงเทพ",
        //   minSalary: 10000,
        //   maxSalary: 20000
        // },
        // {
        //   positionCompany: "Ohmy",
        //   jobType: "การเงิน",
        //   position: "บัญชี",
        //   address: "กรุงเทพ",
        //   minSalary: 10000,
        //   maxSalary: 20000
        // }
      ],
      searchfrom: [],
      positionOption: [
        { text: "Select One", value: null },
        {
          value: "คอมพิวเตอร์/IT/โปรแกรมเมอร์",
          text: "คอมพิวเตอร์/IT/โปรแกรมเมอร์"
        },
        { value: "กฎหมาย", text: "กฎหมาย" },
        {
          value: "เกษตร/จัดสวน/ปศุสัตว์/ประมง/เหมืองแร่",
          text: "เกษตร/จัดสวน/ปศุสัตว์/ประมง/เหมืองแร่"
        },
        {
          value: "เขียนแบบ/งานDrawing/AutoCad/ออกแบบวิศวกรรม",
          text: "เขียนแบบ/งานDrawing/AutoCad/ออกแบบวิศวกรรม"
        },
        { value: "งานบัญชี", text: "งานบัญชี" },
        { value: "งานขนส่ง-คลังสินค้า", text: "งานขนส่ง-คลังสินค้า" },
        {
          value: "งานบริการลูกค้า-Call Center",
          text: "งานบริการลูกค้า-Call Center"
        },
        { value: "การตลาด", text: "การตลาด" },
        { value: "ขาย", text: "ขาย" },
        { value: "งานการเงิน-ธนาคาร", text: "งานการเงิน-ธนาคาร" },
        { value: "งานนำเข้า-ส่งออก", text: "งานนำเข้า-ส่งออก" },
        {
          value: "ผู้จัดการ/ผู้อำนวยการ/MD/CEO",
          text: "ผู้จัดการ/ผู้อำนวยการ/MD/CEO"
        },
        {
          value: "แผนกรักษาความปลอดภัย/งานอาคารจอดรถ",
          text: "แผนกรักษาความปลอดภัย/งานอาคารจอดรถ"
        }
      ],
      minOption: [
        { text: "Select One", value: null },
        { value: 5000, text: 5000 },
        { value: 10000, text: 10000 },
        { value: 15000, text: 15000 },
        { value: 20000, text: 20000 },
        { value: 25000, text: 25000 },
        { value: 30000, text: 30000 },
        { value: 35000, text: 35000 },
        { value: 40000, text: 40000 },
        { value: 45000, text: 45000 },
        { value: 50000, text: 50000 },
        { value: 55000, text: 55000 },
        { value: 60000, text: 60000 }
      ],
      maxOption: [
        { text: "Select One", value: null },
        { value: 10000, text: 10000 },
        { value: 15000, text: 15000 },
        { value: 20000, text: 20000 },
        { value: 25000, text: 25000 },
        { value: 30000, text: 30000 },
        { value: 35000, text: 35000 },
        { value: 40000, text: 40000 },
        { value: 45000, text: 45000 },
        { value: 50000, text: 50000 },
        { value: 55000, text: 55000 },
        { value: 60000, text: 60000 }
      ],
      formWishlist: {
        id_user: "",
        id_jobpost: ""
      },
      userlogin: {}
    };
  },
  methods: {
    showDetail(data) {
      console.log(data);
      this.$router.push({
        name: "jobdetail",
        params: { postId: data, userid: this.userlogin._id }
      });
    },
    appliedjob(data) {
      var formappliedjob = {};
      formappliedjob.id_user = this.userlogin._id;
      formappliedjob.id_jobpost = data;
      formappliedjob.status = "อยู่ในระหว่างพิจารณา";
      formappliedjob.detail = "";
      axios
        .post("http://localhost:3000/applicant/", formappliedjob)
        .then(res => {
          console.log(res);
          this.$router.push("/appliedjob");
        })
        .catch(err => {
          console.log(err);
        });
    },
    searchjob(searchfrom) {
      var checknull = 0;
      if (searchfrom.positionCompany != "") {
        this.searchfrom.push({
          $or: [
            { position: { $regex: searchfrom.positionCompany } },
            { companyName: { $regex: searchfrom.positionCompany } }
          ]
        });
        checknull = 1;
      }
      if (searchfrom.position != null) {
        this.searchfrom.push({ position: { $regex: searchfrom.jobType } });
        checknull += 1;
      }
      if (searchfrom.address != "") {
        this.searchfrom.push({
          address: { $regex: searchfrom.address }
        });
        checknull += 1;
      }
      if (searchfrom.minSalary != null && searchfrom.maxSalary != null) {
        this.searchfrom.push({
          $and: [
            { maxSalary: { $lt: searchfrom.maxSalary + 1 } },
            { maxSalary: { $gt: searchfrom.minSalary - 1 } }
          ]
        });
        this.searchfrom.push({
          $and: [
            { minSalary: { $lt: searchfrom.maxSalary + 1 } },
            { minSalary: { $gt: searchfrom.minSalary - 1 } }
          ]
        });
        checknull += 1;
      } else if (searchfrom.maxSalary != null) {
        this.searchfrom.push({
          maxSalary: { $lt: searchfrom.maxSalary + 1 }
        });
        checknull += 1;
      } else if (searchfrom.minSalary != null) {
        this.searchfrom.push({
          minSalary: { $gt: searchfrom.minSalary - 1 }
        });
        checknull += 1;
      }

      this.searchfrom.push({
        status: "true"
      });

      this.jobsearch = [];
      console.log(this.searchfrom);
      if (checknull == 0) {
        this.getjoball();
      } else {
        axios
          .post("http://localhost:3000/job", this.searchfrom)
          .then(res => {
            console.log(res);
            this.jobsearch = res.data;
          })
          .catch(err => {
            console.log(err);
          });
      }

      this.searchfrom = [];
    },
    getjoball() {
      axios
        .get("http://localhost:3000/job")
        .then(res => {
          console.log(res);
          this.jobsearch = res.data;
        })
        .catch(err => {
          console.log(err);
        });
    },
    getuser() {
      var id = "605195bd7f305705ecaafd56";
      axios
        .get("http://localhost:3000/user/" + id)
        .then(res => {
          this.userlogin = res.data;
          console.log("userlogin");
          console.log(this.userlogin);
          this.getProfile();
        })
        .catch(err => {
          console.log(err);
        });
    },
    addtowishlist(jobsearchid) {
      this.formWishlist.id_user = this.userlogin._id;
      this.formWishlist.id_jobpost = jobsearchid;
      axios
        .post("http://localhost:3000/wishlist", this.formWishlist)
        .then(res => {
          console.log(res);
        })
        .catch(err => {
          console.log(err);
        });

      this.formWishlist = {
        id_user: "",
        id_jobpost: ""
      };
    }
  },
  computed: {},
  mounted() {
    console.log("Vue component is mounted.");
    this.getuser();
  }
};
</script>
