<template>
  <div id="app">
    <div class="hedl" v-if="typeuser==null">
      <b-card
        title="TestLogin : "
        img-src="https://picsum.photos/600/300/?image=25"
        img-alt="Image"
        img-top
        tag="article"
        style="max-width: 20rem;"
        class="mb-2"
      >
        <b-card-text>
          <b-form-select
            id="position"
            v-model="form"
            :options="typeuserOption"
          ></b-form-select>
        </b-card-text>

        <b-button @click="select(form)">กดแล้วก็เข้าไปนั้นแหละ</b-button>
      </b-card>
    </div>
    <div v-if="typeuser!=null">
      <MainLayout :type = typeuser></MainLayout>
    </div>
  </div>
</template>
<style>
.hedl {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
</style>
<script>
import MainLayout from '../components/MainLayout.vue'
export default {
  data() {
    return {
      form: null,
      typeuser: null,
      typeuserOption: [
        { text: "เลือกสักอย่าง", value: null },
        { text: "คนหางาน", value: "jobfinder" },
        { text: "บริษัท", value: "company" },
        { text: "แอดมิน", value: "admin" },
        { text: "หึ ไม่อ่ะ", value: null }
      ]
    };
  },
  methods: {
    select(form) {
      if (form == "jobfinder") {
        console.log(form);
        this.typeuser = form;
      } else if (form == "company") {
        console.log(form);
        this.typeuser = form;
      } else if (form == "admin") {
        console.log(form);
        this.typeuser = form;
      } else {
        console.log(form);
      }
      this.form = null;
    }
  },
  components: {
    MainLayout
  }
};
</script>
