<template>
  <div>
    <b-button variant="success" class="float-right" @click="addNewUser()"
      >Add New</b-button
    >

    <b-modal
      id="modal-form-user"
      ref="modal-form-user"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="Name"
          label-for="Name"
          :invalid-feedback="invalidFeedbackName"
          :valid-feedback="validFeedbackName"
          :state="stateName"
        >
          <b-form-input
            id="name"
            v-model="form.name"
            required
            type="text"
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="Password"
          label-for="Password"
          :invalid-feedback="invalidFeedbackPassword"
          :valid-feedback="validFeedbackPassword"
          :state="statePassword"
        >
          <b-form-input
            id="Password"
            v-model="form.password"
            required
            type="password"
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="Email"
          label-for="Email"
          :invalid-feedback="invalidFeedbackEmail"
          :valid-feedback="validFeedbackEmail"
          :state="stateEmail"
        >
          <b-form-input
            id="Email"
            v-model="form.email"
            required
            type="email"
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="Tel"
          label-for="Tel"
          :invalid-feedback="invalidFeedbackTel"
          :valid-feedback="validFeedbackTel"
          :state="stateTel"
        >
          <b-form-input
            id="Tel"
            v-model="form.tel"
            required
            type="text"
          ></b-form-input>
        </b-form-group>
      </form>

      <b-form-group
        label="Type"
        label-for="typeuser"
        :invalid-feedback="invalidFeedbackTypeUser"
        :valid-feedback="validFeedbackTypeUser"
        :state="stateTypeUser"
      >
        <b-form-select
          id="typeuser"
          v-model="form.typeuser"
          :options="typeuser"
          required
        ></b-form-select>
      </b-form-group>

      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>

    <b-table striped hover :items="userList" :fields="fields">
      <template v-slot:cell(operation)="data">
        <b-button @click="editUser(data.item)">Edit</b-button>
        &nbsp;
        <b-button variant="danger" @click="delUser(data.item)">Delete</b-button>
      </template>
    </b-table>
  </div>
</template>

<script>
import axios from "axios";
import Service from "./Service";
export default {
  data() {
    return {
      title: "เพิ่มผู้ใช้",
      form: {
        id: -1,
        name: "",
        password: "",
        email: "",
        tel: "",
        typeuser: null
      },

      typeuser: [
        { value: "JOB FINDER", text: "คนหางาน" },
        { value: "COMPANY", text: "บริษัท" },
      ],

      userList: [],
      fields: [
        {
          key: "id",
          label: "Id",
        },
        "name",
        "password",
        "email",
        "tel",
        "typeuser",
        "operation",
      ],
    };
  },
  methods: {
    addNewUser() {
      console.log("Add new");
      this.$bvModal.show("modal-form-user");
    },
    editUser(user) {
      console.log("edit");
      console.log(user);
      this.title = "แก้ไขข้อมูลผู้ใช้";
      this.form = { ...user };
      this.$bvModal.show("modal-form-user");
    },
    delUser(user) {
      console.log("del");
      console.log(user);
      this.$bvModal
        .msgBoxConfirm("ท่านต้องการลบ " + user.name + " หรือไม่!!!", {
          title: "กรุณายืนยัน",
          size: "sm",
          buttonSize: "sm",
          okVariant: "danger",
          okTitle: "YES",
          cancelTitle: "NO",
          footerClass: "p-2",
          hideHeaderClose: false,
          centered: true,
        })
        .then((value) => {
          if (value) {
            // this.deleteUser(user);
            // Service.deleteUser(user);

            axios
              .delete("http://localhost:3000/user/" + user._id)
              .then((res) => {
                console.log(res);
                this.getUsers();
              });
          }
        });
    },
    resetModal() {
      this.form = {
        _id: "",
        name: "",
        password: "",
        email: "",
        tel: "",
        typeuser: null,
      };
    },
    handleOk(bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault();
      // Trigger submit handler
      this.handleSubmit();
    },
    handleSubmit() {
      // check validate
      if (this.stateName === false || this.statestatus === false) {
        return;
      }
      // Do when pass validation
      if (this.form._id != "") {
        // this.updateUser(this.form);
        // Service.updateUser(this.form);
        axios
          .put("http://localhost:3000/user", this.form)
          .then((res) => {
            console.log(res);
            this.getUsers();
          })
          .catch((err) => {
            console.log(err);
          });
      } else {
        // this.addUser(this.form);

        delete this.form._id;
        axios
          .post("http://localhost:3000/user", this.form)
          .then((res) => {
            console.log(res);
            this.getUsers();
          })
          .catch((err) => {
            console.log(err);
          });
      }

      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide("modal-form-user");
      });
    },
    getUsers() {
      // this.userList = Service.getUser()
      axios
        .get("http://localhost:3000/user/")
        .then((res) => {
          console.log(res);
          this.userList = res.data;
        })
        .catch((err) => {
          console.log(err);
        });
    },
  },
  computed: {
    stateName() {
      return this.form.name.length != 0;
    },
    invalidFeedbackName() {
      return "กรุณาใส่ชื่อ";
    },
    validFeedbackName() {
      return this.stateName === true ? "สำเร็จ" : "";
    },

    statePassword() {
      return this.form.password.length >= 6;
    },
    invalidFeedbackPassword() {
      if (this.form.password.length > 0 && this.form.password.length < 6) {
        return "รหัสผ่านต้องมีความยาวไม่น้อยกว่า 6 ตัว";
      }
      return "กรุณาใส่รหัสผ่าน";
    },
    validFeedbackPassword() {
      return this.statePassword === true ? "สำเร็จ" : "";
    },

    stateEmail() {
      return this.form.email.length != 0;
    },
    invalidFeedbackEmail() {
      return "กรุณาใส่ E-mail";
    },
    validFeedbackEmail() {
      return this.stateEmail === true ? "สำเร็จ" : "";
    },

    stateTel() {
      return this.form.tel.length === 10;
    },
    invalidFeedbackTel() {
      if (this.form.tel.length > 0 && this.form.tel.length < 10) {
        return "กรุณาใส่เบอร์โทรศัพท์ 10 ตัว";
      }
      if (this.form.tel.length > 10) {
        return "เบอร์โทรศัพท์ต้องไม่เกิน 10 ตัว";
      }
      return "กรุณาเบอร์โทรศัพท์";
    },
    validFeedbackTel() {
      return this.stateTel === true ? "สำเร็จ" : "";
    },

    stateTypeUser() {
      return this.form.typeuser != null;
    },
    invalidFeedbackTypeUser() {
      if (this.form.typeuser === null) {
        return "กรุณาเลือกประเภทบุคล";
      }
    },
    validFeedbackTypeUser() {
      return this.stateTypeUser === true ? "สำเร็จ" : "";
    },
  },
  mounted() {
    console.log("Vue component is mounted.");
    this.getUsers();
  },
};
</script>
