<template>
  <div>
    <div
      style="margin-top:20px; width:1300px ; margin-left:auto; margin-right:auto"
    >
      <b-card-group deck>
        <b-card header-tag="header">
          <template #header>
            <h2 class="mb-0">Wishlist</h2>
          </template>
          <b-table striped hover :items="wishlist" :fields="fields">
            <template v-slot:cell(operation)="data">
              <b-button @click="appliedjob(data.item)" variant="success"
                ><b-icon icon="card-text" class="icon"></b-icon
                >APPLIED</b-button
              >
              &nbsp;
              <b-button @click="showDetail(data.item)">
                <b-icon icon="tv" class="icon"></b-icon>DETAIL</b-button
              >
              &nbsp;
              <b-button variant="danger" @click="deletewishlist(data.item)"
                ><b-icon icon="trash" class="icon"></b-icon>DELETE</b-button
              >
            </template>
          </b-table>
        </b-card>
      </b-card-group>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      // Note `isActive` is left out and will not appear in the rendered table
      userlogin: {},
      wishlist: [],
      fields: ["company_name", "jobType", "position", "operation"]
    };
  },
  methods: {
    getWishlist() {
      // this.profile = Service.getWishlist();
      axios
        .get("http://localhost:3000/wishlist/" + this.userlogin._id)
        .then(res => {
          console.log(res);
          this.wishlist = res.data;
        })
        .catch(err => {
          console.log(err);
        });
    },
    getuser() {
      var id = "605195bd7f305705ecaafd56";
      axios
        .get("http://localhost:3000/user/" + id)
        .then(res => {
          this.userlogin = res.data;
          console.log("userlogin");
          console.log(this.userlogin);
          this.getWishlist();
        })
        .catch(err => {
          console.log(err);
        });
    },
    deletewishlist(data) {
      console.log(data);
      axios
        .delete("http://localhost:3000/wishlist/" + data._id)
        .then(res => {
          this.getuser();
        })
        .catch(err => {
          console.log(err);
        });
    },
    showDetail(data) {
      console.log(data);
      this.$router.push({
        name: "jobdetail",
        params: { postId: data.id_jobpost, userid: this.userlogin._id }
      });
    },
    appliedjob(data) {
      var formappliedjob = {};
      formappliedjob.id_user = data.id_user;
      formappliedjob.id_jobpost = data.id_jobpost;
      formappliedjob.status = "อยู่ในระหว่างพิจารณา";
      formappliedjob.detail = "";
      console.log(data);
      axios
        .post("http://localhost:3000/applicant/", formappliedjob)
        .then(res => {
          console.log(res);
          this.deletewishlist(data);
           this.$router.push('/appliedjob');
        })
        .catch(err => {
          console.log(err);
        });
    }
  },
  mounted() {
    console.log("Vue component is mounted.");
    this.getuser();
  }
};
</script>
